<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/AdminBundles/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jqueryAdmin")
    @Scripts.Render("~/bundles/bootstrapAdmin")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="proceso_en_ejecucion" class="" style="display:none">
        <div>
            <img src="~/Content/Images/processing.gif" width="58" height="58">
        </div>
    </div>
    <div class="bb-alert alert" style="display: none;">
        <span>Hello world callback</span>
    </div>

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Administration", "Index", "AdminHome", null ,new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_menuAdmin");
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&reg; @DateTime.Now.Year - Powered by SOMSight - Echez Inc.</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jqueryAdmin")
    @Scripts.Render("~/bundles/bootstrapAdmin")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)*@

</body>
</html>
