@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared


@{
    var SelectedTenant = Session.GetAdminSelectedTenant();
    string SelectedtenantName = string.Empty;
    if (SelectedTenant != null)
    {
        SelectedtenantName = SelectedTenant.Name;
    }
    else
    {
        SelectedtenantName = "NONE";
    }


}


<ul class="nav navbar-nav">
    @*Administrator role navigation*@
    @if (Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-asterisk"></i> Configuration <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminCampaign")">Campaigns</a></li>
                <li><a href="@Url.Action("Index","AdminPromoCodes")">Promotional Codes</a></li>
                @*<li><a href="@Url.Action("Index","AdminCountries")">Countries</a></li>*@
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Index","AdminTenant")">Tenants</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Index","Adminlanguage")">Language</a></li>
                <li><a href="@Url.Action("Index","AdminTranslator")">Translator</a></li>
                <li><a href="@Url.Action("Index","AdminTranslationClassification")">Translation Classification</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="Home/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Assessments <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminIndustryInsights")">Industry Insights</a></li>
                <li><a href="@Url.Action("Index", "AdminCompany")">Search company</a></li>
                <li><a href="@Url.Action("Index", "AdminAssessmentType")">Assessment Admin</a></li>
                @*<li><a href="@Url.Action("Index","ExclusionList")">Option 2</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="@Url.Action("Test","AdminUsers")">Test</a></li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a href="Home/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-usd"></i> Plans <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminPlansModularity")">Modularity</a></li>
                <li><a href="@Url.Action("Index", "AdminPlan")">Plans</a></li>                
                <li><a href="@Url.Action("Index", "DevicesByRange")">Device Ranges</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i> Security <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminUsers")">Users</a></li>
                @*<li><a href="@Url.Action("Index","Modularity")">Manage Modularity</a></li>*@
            </ul>
        </li>
    }

    @*Consultant role navigation*@
    @if (Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ROLE))
    {
        @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-asterisk"></i> Master Data <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminTenant")">Tenants</a></li>
            </ul>
        </li>*@
        <li class="dropdown">
            <a href="Home/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Assessments <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminIndustryInsights")">Industry Insights</a></li>
                <li><a href="@Url.Action("Index", "AdminCompany")">Search company</a></li>
                @*<li><a href="@Url.Action("Index","ExclusionList")">Option 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Test","AdminUsers")">Test</a></li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i> Security <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminUsers")">Users</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Logoff","AdminHome")">Logoff</a></li>
            </ul>
        </li>
    }

    @*Consultant advanced role navigation*@
    @if (Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ADVANCED))
    {
        @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-asterisk"></i> Master Data <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminTenant")">Tenants</a></li>
            </ul>
        </li>*@
        <li class="dropdown">
            <a href="Home/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Assessments <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminIndustryInsights")">Industry Insights</a></li>
                <li><a href="@Url.Action("Index", "AdminCompany")">Search company</a></li>
                <li><a href="@Url.Action("Index", "AdminAssessmentType")">Assessment Admin</a></li>
                @*<li><a href="@Url.Action("Index","ExclusionList")">Option 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Test","AdminUsers")">Test</a></li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i> Security <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminUsers")">Users</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Logoff","AdminHome")">Logoff</a></li>
            </ul>
        </li>
    }

    @*Tenant Admin role navigation*@
    @if (Session.GetCurrentRol().Equals(RolesDef.TENANT_ADMIN_ROLE))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-asterisk"></i> Master Data <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminTenant")">Tenants</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i> Security <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index","AdminUsers")">Users</a></li>
            </ul>
        </li>
    }

</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Logoff","AdminHome")"><i class="glyphicon glyphicon-log-out"></i>Logoff</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    @if (Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE))
    {
        <li><a href="@Url.Action("Index","AdminChooseATenant", new { redirectUrl = "/"+ViewContext.RouteData.Values["controller"] })">Selected Tenant: <strong>@SelectedtenantName.ToUpper()</strong></a> </li>
    }
    @if (Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ROLE))
    {
        <li><a href="@Url.Action("Index","AdminChooseATenant", new { redirectUrl = "/"+ViewContext.RouteData.Values["controller"] })">Selected Tenant: <strong>@SelectedtenantName.ToUpper()</strong></a> </li>
    }

    @if (Session.GetCurrentRol().Equals(RolesDef.TENANT_ADMIN_ROLE))
    {
        <li><a href="#">Selected Tenant: <strong>@SelectedtenantName.ToUpper()</strong></a> </li>
    }
</ul>

