@using SOMSight.Utils.Extensions
@using SOMSight.Utils
@{
    var _user = @Session.GetDataWithOutLogin();
}

<ul id="menu" class="landing">
        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home")
        {
            <li class="item" id="btn_plans"><a href="#" target="_self">@TranslatorHelper.TranslateTextByIdentifier("Plans_Text")</a></li>
            <li class="item" id="btn_about_us"><a href="#" target="_self">@TranslatorHelper.TranslateTextByIdentifier("about_us_text")</a></li>
            <li class="item" id="btn_contact_us"><a href="#" target="_self">@TranslatorHelper.TranslateTextByIdentifier("contact_us_text")</a></li>
        }
        else
        {
            <li class="item" id="btn_contact_us"><a href="#" target="_self">@TranslatorHelper.TranslateTextByIdentifier("contact_us_text")</a></li>
            @*<li class="item" id="btn_plans"><a href="@Url.Action("Index","Home")#plans" target="_self">PLANS</a></li>
            <li class="item" id="btn_about_us"><a href="@Url.Action("Index","Home")#about_us" target="_self">ABOUT US</a></li>
            <li class="item" id="btn_contact_us"><a href="@Url.Action("Index","Home")#footer" target="_self">CONTACT US</a></li>*@
            
        }

                <!--================================================-->
        <li class="item desplegable" id="btn_login">

            <p>
                <span class="palabra" style="background-image: url('../images/icono_login@_user.TenantSkin.TenantStyleLoginIconColor');">@TranslatorHelper.TranslateTextByIdentifier("login_text")</span>
                <span class="flecha"></span>
            </p>

            <!--================================= LOGIN  ======================================-->
            <div id="login">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="formulario">
                        <fieldset>
                            @*<input id="Lead-in" type="text" name="Lead-in" placeholder="Lead in" />*@
                            <input id="Email" type="text" name="Email" placeholder="Email" />
                            <input id="Password" type="password" name="Password" placeholder="Password" />
                            <input style="cursor: pointer; background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;" name="Acceder" type="submit" value="@TranslatorHelper.TranslateTextByIdentifier("login_text")" />
                            <a href="@Url.Action("ForgotPassword","Account")" style="text-transform:none" target="_self">@TranslatorHelper.TranslateTextByIdentifier("forgot_password_text")</a>
                            <hr />
                            <a style="cursor: pointer; background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;" href="@Url.Action("Register","Account")" target="_self" class="btn">@TranslatorHelper.TranslateTextByIdentifier("create_new_account_text")</a>
                        </fieldset>
                    </div>
                }

            </div>
            <!--================================= LOGIN  ======================================-->
        </li>
</ul>