@using SOMSight.Utils
@using SOMSight.Utils.Extensions

@model SOMSight.Models.AssessmentPackageVM

@{ 
    var _user = Session.GetCurrentUser();
}

@*SIEMPRE QUE SE ABRA ESTE MODAL SERA PARA CREAR UNA NUEVA VERSIÓN DEL ASSESSMENT*@
<div id="modal-assessment-version-basic-question" class="modal modal-version">
    <div class="titulo" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor;">
        <h1 style="color: @_user.TenantSkin.TenantStylePrimaryFontColor;">
            @*You have already completed the assessment on another ocassion*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_Version_Basic_Title")
        </h1>
    </div>
    <div class="contenido">
        <h2>
            @*Do you want to generate a new version of the assessment?*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_Version_Basic_Content_Title")
        </h2>

        <div class="button-container">
            <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_open_modal">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_View_Answers")<span style="background-image: url('../../images/icon_answers-negro.png');"></span></a>

            @*HAY QUE CHEQUEAR SI HAY ASSESSMENT EN PROGRESO O SI HAY QUE CREAR UNO NUEVO*@
            @if (Model.BasicAssessmentMode.Assessment.AssessmentVersion <= 5)
            {
                if (Model.BasicAssessmentMode.Assessment.DownloadPDF && Model.BasicAssessmentMode.Assessment.AssessmentVersion < 5)
                {
                    <a onclick="gAnalytics.throwRedirectEvent('Click Start', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestions", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.BasicAssessmentMode.Assessment.AssessmentVersion+1})')" href="#" class="btn_go_for_it standard_margin">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Do_It_Again")<span style="background-image: url('../../images/icono_go_for_it-negro.png');"></span></a>
                }
                else
                {
                    <a onclick="gAnalytics.throwRedirectEvent('Click Start', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestions", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.BasicAssessmentMode.Assessment.AssessmentVersion})')" href="#" class="btn_go_for_it standard_margin">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Do_It_Again")<span style="background-image: url('../../images/icono_go_for_it-negro.png');"></span></a>
                }

            }
        </div>


        <a href="#" target="_self" class="button" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Close")</a>
    </div>
</div>

<div id="modal-assessment-version-basic" class="modal modal-version">
    <div class="titulo" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor;">
        <h1 style="color: @_user.TenantSkin.TenantStylePrimaryFontColor;">
            @TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI) @TranslatorHelper.TranslateTextByIdentifier("Nivel_Basico")
        </h1>
    </div>
    <div class="contenido">
        <h2>
            @*You have already completed the assessment on another ocassion.*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_Version_Basic_Title")
        </h2>
        <table id="versions" border="1">
            <thead>
                <tr>
                    <th style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor;">
                        @TranslatorHelper.TranslateTextByIdentifier("Modal_Version_Basic_Assessment_Version")
                    </th>
                    <th style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor;">
                        @TranslatorHelper.TranslateTextByIdentifier("Modal_General_View")
                    </th>
                    <th style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor;">
                        @TranslatorHelper.TranslateTextByIdentifier("Modal_General_Download")
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BasicAssessmentMode.Assessment.AssessmentVersionsList != null && Model.BasicAssessmentMode.Assessment.AssessmentVersionsList.Count > 0)
                {
                    foreach (var currentVersion in Model.BasicAssessmentMode.Assessment.AssessmentVersionsList)
                    {
                        if (currentVersion.IsInProgress || currentVersion.DownloadPDF)
                        {
                            <tr>
                                <td>V @currentVersion.AssessmentVersion.0</td>
                                @if (currentVersion.DownloadPDF)
                                {
                                    <td>
                                        <a href="@Url.Action("AssessmentQuestions","AssessmentBoard", new { @pAssessmentTypeId = currentVersion.AssessmentTypeId, @pAssessmentVersion = currentVersion.AssessmentVersion })" class="modal-button-view" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_View")</a>
                                    </td>
                                    <td>
                                        @*<a onclick="gAnalytics.throwRedirectEvent('Click Download', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("GetAssessmentBasicRecommendations", "AssessmentQuestions", new { @pAssessmentTypeId = currentVersion.AssessmentTypeId, @pAssessmentVersion= currentVersion.AssessmentVersion})')" href="#" class="modal-button-download" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Download")</a>*@
                                        <a onclick="gAnalytics.throwRedirectEvent('Click Download', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("ViewAssessmentBasicRecommendations", "AssessmentQuestions", new { @pAssessmentTypeId = currentVersion.AssessmentTypeId, @pAssessmentVersion= currentVersion.AssessmentVersion})')" href="#" class="modal-button-download" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Download")</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @if (currentVersion.IsInProgress)
                                        {
                                            <a href="@Url.Action("AssessmentQuestions","AssessmentBoard", new { @pAssessmentTypeId = currentVersion.AssessmentTypeId, @pAssessmentVersion = currentVersion.AssessmentVersion })" class="modal-button-view" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Continue")</a>
                                        }
                                    </td>
                                    <td></td>
                                }
                            </tr>
                        }

                    }
                }
            </tbody>

        </table>
        <a href="#" target="_self" class="button" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Close")</a>
    </div>
</div>