@using SOMSight.Utils
@using SOMSightModels.Shared
@using SOMSight.Utils.Extensions

@model SOMSight.Models.AssessmentViewModel

@{
    var _user = Session.GetCurrentUser();

    ViewBag.Title = "AssessmentQuestions";
    ViewBag.Active = Model.AssessmentTypeId.ToString();
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}


@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/assessment/assessmentQuestions.js")"></script>
    <script type="text/javascript" src="~/Scripts/Custom/bootbox.js"></script>

    <script>
        var totalQuestions = @Model.TotalQuestion;
        var text = '@TranslatorHelper.TranslateTextByIdentifier(@Model.AssessmentTypeTranslatorTI)';
        //assestmentId = assestmentId.toString();

        $(document).ready(function(){
            //gtag('event','Begin',{'event_category':'Assestments','event_label':text})
            gAnalytics.throwNormalEvent('Begin','Assestments',text)
        });
    </script>
}

<div class="container" id="titulo_general">
    <div class="centro">
        <h1 class="titulo">
            <span class="texto">@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)</span>
        </h1>
    </div>
</div>

<!--================================= PAGINA ======================================-->
<fieldset @{ if (Model.IsFinal == true) { ViewContext.Writer.Write("disabled"); } }>
    @using (Html.BeginForm("SaveAssessmentInfo", Model.ControllerName, FormMethod.Post, new { id = "AssessmentQuestionsForm" }))
    {

        @Html.Hidden("pQuestionAnswersModel.UserId", Model.UserId);
        @Html.Hidden("pQuestionAnswersModel.IsFinal", Model.IsFinal, new { @id = "pQuestionAnswersModelIsFinal" });
        @Html.Hidden("pQuestionAnswersModel.AssessmentSummaryId", Model.AssessmentSummaryId);
        @Html.Hidden("pQuestionAnswersModel.AssessmentVersion", Model.AssessmentVersion);
        @Html.Hidden("pQuestionAnswersModel.AssessmentMode", Model.AssessmentMode);
        @Html.Hidden("pQuestionAnswersModel.AssessmentTypeId", Model.AssessmentTypeId);
        <div id="pagina" class="formulario">

            @if (!Model.IsFinal)
            {
                <div class="indice">

                    <a data-event-label="@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)" href="#" target="_self" id="SendAssessmentDraft" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">
                        <p style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor;"><span id="answeredQuestions" style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@Model.AnsweredQuestions</span> @TranslatorHelper.TranslateTextByIdentifier("of_text") @Model.TotalQuestion</p>
                        <span class="save" style="border-top: solid 1px @_user.TenantSkin.TenantStyleTertiaryFontColor !important; color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">
                            @TranslatorHelper.TranslateTextByIdentifier("save_text")<br style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("draft_text")
                        </span>
                    </a>
                </div>
            }
            else
            {

                <p class="indice" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;">
                    <span id="answeredQuestions" style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">@Model.AnsweredQuestions</span> @TranslatorHelper.TranslateTextByIdentifier("of_text") @Model.TotalQuestion
                </p>
            }

            <div class="seccion">
                @{
                    //ViewBag.AssessmentTypeId = Model.AssessmentTypeId;
                    ViewBag.AssessmentTypeId = TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI);
                    ViewBag.AssessmentFree = false;
                    if (Model.AssessmentMode == (int)AssessmentMode.BASIC)
                    {
                        Html.RenderPartial("AssessmentQuestions/_AssessmentQuestionsDetail", Model.AssessmentQuestions);
                    }
                    else
                    {
                        Html.RenderPartial("AssessmentQuestions/_AssessmentAdvancedQuestionsDetail", Model.AssessmentQuestions);
                    }

                }
            </div>



        </div>

                    }
</fieldset>


<!--================================= CONTROLES ======================================-->
<div class="controles" style="background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important;">
    <div class="centro">
        <ul class="bloques centro">
            <li class="azul izk" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">
                @*<a onclick="gtag('event','Click Prev',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="@Url.Action("Index", Model.PreviousControllerName, new { @id = Model.AssessmentTypeId })" target="_self" class="prev_paso_3"><span>PREV</span></a>*@
                <a onclick="gAnalytics.throwRedirectEvent('Click Prev','Assestments','@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)','@Url.Action("Index", Model.PreviousControllerName, new { @id = Model.AssessmentTypeId })')" href="#" class="prev_paso_3"><span style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("prev_text")</span></a>
            </li>
            @if (!Model.IsFinal)
            {
                <li class="azul" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">
                    @*<a onclick="gtag('event','Click Save Draft',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="#" target="_self" id="SendAssessmentDraft">*@
                    <a data-event-label="@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)" href="#" target="_self" id="SendAssessmentDraft">
                        <span style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">
                            @TranslatorHelper.TranslateTextByIdentifier("save_text")<br />
                            @TranslatorHelper.TranslateTextByIdentifier("draft_text")
                        </span>
                    </a>
                </li>
                <li class="azul der end" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;">
                    @*<a onclick="gtag('event','Click End',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="#" target="_self" id="SendAssessmentFinal"><span>END</span></a>*@
                    <a href="#" target="_self" id="SendAssessmentFinal"><span style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("end_text")</span></a>
                </li>
            }

        </ul>
    </div>
</div>
<!--================================= CONTROLES ======================================-->


<div id="opacidad">
</div>
<div id="modalConfirm" class="NS_modal">

    <div class="titulo" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">
        <h2 style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("confirm_text")</h2>
        <p class="cerrar" style="background-image: url('../../images/icono_cerrar_modal@_user.TenantSkin.TenantStylePrimaryIconColor');">
        </p>
    </div>
    <div class="contenido">
        <h5>@TranslatorHelper.TranslateTextByIdentifier("finish_assessment_question_text")</h5>
    </div>
    <div class="footer">
        <button data-event-label="@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)" class="ok-button" id="SendAssessmentFinalOk" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("Semaforo_Boton_Ok")</button>
        <button class="cancel-button">@TranslatorHelper.TranslateTextByIdentifier("Semaforo_Boton_Cancelar")</button>
    </div>
</div>

<div id="modalNotCompleted" class="NS_modal">

    <div class="titulo" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">
        <h2 style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("incomplete_assessment_text")</h2>
        <p class="cerrar" style="background-image: url('../../images/icono_cerrar_modal@_user.TenantSkin.TenantStylePrimaryIconColor');">
        </p>
    </div>
    <div class="contenido">
        <h5>@TranslatorHelper.TranslateTextByIdentifier("complete_all_assessment_question_text")</h5>
    </div>
    <div class="footer">
        <button class="ok-button" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("Semaforo_Boton_Ok")</button>
        @*<button class="cancel-button">CANCEL</button>*@
    </div>
</div>
