@using SOMSight.Utils.Extensions
@using SOMSight.Utils
@using System.Configuration
@using SOMSight.Models
@using SOMSightModels.Shared
@model SOMSight.Models.AssessmentPackageVM

@{
    ViewBag.Title = @TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI);
    ViewBag.Active = Model.AssessmentTypeId.ToString();
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@{
    var _user = Session.GetCurrentUser();
    var userPlan = Session.GetCurrenUserPlan();
}


@{
//TODO: Convertir en vista parcial
}

@section Scripts{
    <script type="text/javascript">
        var IdIndustry = '@(Model.IdIndustry ?? null)';
        var gGetUrlAction = {
            IndustryInsightsIndex: '@Url.Action("Index", "IndustryInsights", new { Id = 1 })',
            ListIndustries: '@Url.Action("ListIndustries", "IndustryInsights")'
        };
        var shouldSeeWarning = '@(@TempData["shouldSeeWarning"] != null ? @TempData["shouldSeeWarning"].ToString() : "")';
        var myFunctionTag = false;
    </script>
    <script src="@Url.Content("~/Scripts/IndustryInsights/IndexBoard.js")"></script>
    <script src="@Url.Content("~/Scripts/AssessmentBoard/assessmentBoard.js")"></script>
}


<div class="container" id="titulo_general">
    <div class="centro">
        <h1 class="titulo">
            <span class="texto">@TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI)</span>
        </h1>
    </div>
</div>


<div id="pagina" class="gris sin_borde">
    <div class="seccion">
        <div class="centro">
            <ul class="assesments">

                @if (Model.BasicAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModule || (Model.BasicAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModuleWithUpgrade && _user.ShowUpgradeOption))
                {
                    <li class="cyan">
                        <h2 class="stars" style="text-transform: uppercase;background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("basic_text") <span></span><span></span><span></span></h2>
                        <div class="content">
                            <h2 class="title">
                                @TranslatorHelper.TranslateTextByIdentifier("basic_text")<br />
                                @TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI)
                            </h2>

                            <p class="sub">V.@Model.BasicAssessmentMode.AssessmentVersionToShow.0</p>


                            <hr />

                            <div class="process">
                                @switch (Model.BasicAssessmentMode.StateMode)
                                {
                                    case StateMode.Available:
                                        <span class="icon"><img src="@Url.Content("~/images/process_1.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("Available_text")</h4>
                                        break;
                                    case StateMode.Done:
                                        <span class="icon"><img src="@Url.Content("~/images/process_3.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("Done_text")</h4>
                                        break;
                                    case StateMode.InProgress:
                                        <span class="icon"><img src="@Url.Content("~/images/process_2.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("In_Progress_text")</h4>
                                        break;
                                }

                            </div>


                            @if (Model.AssessmentType.IsIndustryInsights)
                            {
                                <a href="#" target="_self" class="btn_go_for_it standard_margin">COMING SOON<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                            }
                            else if (Model.BasicAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModuleWithUpgrade)
                            {
                                <a onclick="gAnalytics.throwRedirectEvent('Click Upgrade', 'Plan Upgrade','Plan Upgrade','@Url.Action("Upgrade", "Plan")')" href="#" class="btn_buy_now">@TranslatorHelper.TranslateTextByIdentifier("buy_now_text") <span></span></a>
                            }
                            //Nunca ha llenado un assessmente, no ha guardado borrador, ni ha finalizado
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion == 0 && Model.BasicAssessmentMode.Assessment.DownloadPDF == false && Model.BasicAssessmentMode.Assessment.IsInProgress == false)
                            {
                                <a onclick="gAnalytics.throwRedirectEvent('Click Start', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestions", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.BasicAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                            }
                            //Nunca ha llenado un assessment, y guardo un borrador
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion == 0 && Model.BasicAssessmentMode.Assessment.IsInProgress == true)
                            {
                                <a onclick="gAnalytics.throwRedirectEvent('Click Continue', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestions", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.BasicAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("cotinue_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                            }
                            //Lleno su primer assessment
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion == 0 && Model.BasicAssessmentMode.Assessment.DownloadPDF == true)
                            {
                                //Nueva parte
                                <a href="#" class="btn_go_for_it standard_margin version_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                <a href="#" class="btn_buy_now recommendations standard_margin version_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                            }
                            //Ya ha llenado assessmente, no ha guardado borrador, ni ha finalizado
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion > 0 && Model.BasicAssessmentMode.Assessment.DownloadPDF == false && Model.BasicAssessmentMode.Assessment.IsInProgress == false)
                            {
                                //Nueva parte
                                <a href="#" class="btn_go_for_it standard_margin version_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                <a href="#" class="btn_buy_now recommendations standard_margin version_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                            }
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion > 0 && Model.BasicAssessmentMode.Assessment.IsInProgress == true)
                            {
                                <a onclick="gAnalytics.throwRedirectEvent('Click Continue', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestions", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.BasicAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it standard_margin">@TranslatorHelper.TranslateTextByIdentifier("cotinue_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>

                                //Nueva parte
                                <a href="#" class="btn_buy_now recommendations standard_margin version_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                            }
                            else if (Model.BasicAssessmentMode.Assessment.AssessmentVersion > 0 && Model.BasicAssessmentMode.Assessment.DownloadPDF == true)
                            {
                                if (Model.BasicAssessmentMode.Assessment.AssessmentVersion != 5)
                                {
                                    <a href="#" class="btn_go_for_it standard_margin version_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                }
                                else
                                {
                                    <a href="#" class="btn_go_for_it standard_margin full_try_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                }
                                <a href="#" class="btn_buy_now recommendations standard_margin version_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                            }

                            <p class="description">@TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI)</p>
                        </div>
                    </li>
                }


                @if (Model.AdvancedAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModule || (Model.AdvancedAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModuleWithUpgrade && _user.ShowUpgradeOption))
                {

                    <li class="acier">
                        <h2 class="stars" style="text-transform: uppercase;background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important; color: @_user.TenantSkin.TenantStyleSecondaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("premium_text") <span></span><span></span><span></span><span></span><span></span></h2>
                        <div class="content">
                            <h2 class="title">
                                <strong>@TranslatorHelper.TranslateTextByIdentifier("advanced_text")</strong><br />
                                @TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorTI)
                            </h2>

                            <p class="sub">V.@Model.AdvancedAssessmentMode.AssessmentVersionToShow.0</p>
                            <hr />

                            <div class="process">
                                @switch (Model.AdvancedAssessmentMode.StateMode)
                                {
                                    case StateMode.Available:
                                        <span class="icon"><img src="@Url.Content("~/images/process_1.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("Available_text")</h4>
                                        break;
                                    case StateMode.Done:
                                        <span class="icon"><img src="@Url.Content("~/images/process_3.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("Done_text")</h4>
                                        break;
                                    case StateMode.InProgress:
                                        <span class="icon"><img src="@Url.Content("~/images/process_2.png")" width="19" height="14"></span>
                                        <h4>@TranslatorHelper.TranslateTextByIdentifier("In_Progress_text")</h4>
                                        break;
                                }
                            </div>

                            @if (Model.AssessmentType.IsIndustryInsights)
                            {
                                if ((Model.AdvancedAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModuleWithUpgrade)
                                   && !Convert.ToBoolean(ConfigurationManager.AppSettings.Get("EnableIndustryInsightsAllPlans"))
                                   && !ConfigurationManager.AppSettings.Get("UsersEnabledIndustryInsights").ToUpper().Contains(User.Identity.Name.ToUpper()))
                                {
                                    <a onclick="gAnalytics.throwRedirectEvent('Click Upgrade', 'Plan Upgrade','Plan Upgrade','@Url.Action("Upgrade", "Plan")')" href="#" class="btn_buy_now">@TranslatorHelper.TranslateTextByIdentifier("buy_now_text") <span></span></a>
                                }
                                else if (Model.BasicAssessmentMode.Assessment.IsInProgress)
                                {
                                    <a onclick="gAnalytics.throwRedirectEvent('Click Continue', 'Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("Index", "IndustryInsights", new { Id = Model.BasicAssessmentMode.Assessment.Id })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("cotinue_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                }
                                else if (Model.BasicAssessmentMode.Assessment.DownloadPDF)
                                {
                                    <a href="@Url.Action("Index", "IndustryInsights", new { Id = Model.BasicAssessmentMode.Assessment.Id })" target="_self" class="btn_go_for_it answers standard_margin">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>

                                }
                                else
                                {
                                    <a href="#" target="_self" class="btn_go_for_it industry_insights">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                }
                            }
                            else if (Model.AdvancedAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModuleWithUpgrade)
                            {
                                <a onclick="gAnalytics.throwRedirectEvent('Click Upgrade', 'Plan Upgrade', 'Plan Upgrade', '@Url.Action("Upgrade", "Plan")')" href="#" class="btn_buy_now">@TranslatorHelper.TranslateTextByIdentifier("buy_now_text") <span></span></a>
                            }
                            else
                            {
                                if (Model.HasAdvancedMode)
                                {
                                    //Nunca ha llenado un assessmente, no ha guardado borrador, ni ha finalizado
                                    if (Model.AdvancedAssessmentMode.Assessment == null)
                                    {
                                        if (Model.BasicAssessmentMode.AssessmentVersionToShow > 0 || (Model.BasicAssessmentMode.Assessment.ResponseStartDate != null && Model.BasicAssessmentMode.Assessment.ResponseEndDate != null))
                                        {
                                            <a onclick="gAnalytics.throwRedirectEvent('Click Start', 'Advanced Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestionsAdvanced", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = 0 })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn_go_for_it warning_advanced_assessment_open_modal">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }

                                    }
                                    //No tiene le han completado las recomendaciones, por tanto no puede realizar mas versiones
                                    else if (Model.AdvancedAssessmentMode.Assessment.IsInProgress == false && Model.AdvancedAssessmentMode.Assessment.AssessmentVersionsList.FindAll(x => x.ResponseStartDate != null && x.ResponseEndDate != null).Exists(d => !d.HasAdvancedRecommendations))
                                    {
                                        //Entra aqui si hay algun assessment avanzado que no tenga sus recomendaciones, hay que verificar que ese assessment avanzado no sea uno sobre el cual no se haya hecho un borrador

                                        <a href="#" class="btn_go_for_it standard_margin version_advanced_question_open_modal disabled">@TranslatorHelper.TranslateTextByIdentifier("Assessment_Board_WaitForRecomm")</a>

                                        <a href="#" class="btn_buy_now recommendations standard_margin version_advanced_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text")<span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                        <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_advanced_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>

                                    }
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion == 0 && Model.AdvancedAssessmentMode.Assessment.DownloadPDF == false && Model.AdvancedAssessmentMode.Assessment.IsInProgress == false)
                                    {
                                        if (Model.BasicAssessmentMode.Assessment.ResponseStartDate == null || Model.BasicAssessmentMode.Assessment.ResponseEndDate != null)
                                        {
                                            <a onclick="gAnalytics.throwRedirectEvent('Click Start', 'Advanced Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestionsAdvanced", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.AdvancedAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn_go_for_it warning_advanced_assessment_open_modal">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }
                                    }
                                    //Nunca ha llenado un assessment, y guardo un borrador
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion == 0 && Model.AdvancedAssessmentMode.Assessment.IsInProgress == true)
                                    {
                                        <a onclick="gAnalytics.throwRedirectEvent('Click Continue', 'Advanced Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestionsAdvanced", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.AdvancedAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it">@TranslatorHelper.TranslateTextByIdentifier("cotinue_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                    }
                                    //Lleno su primer assessment
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion == 0 && Model.AdvancedAssessmentMode.Assessment.DownloadPDF == true)
                                    {
                                        //Nueva parte
                                        <a href="#" class="btn_go_for_it standard_margin version_advanced_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        <a href="#" class="btn_buy_now recommendations standard_margin version_advanced_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                        <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_advanced_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                                    }
                                    //Ya ha llenado assessmente, no ha guardado borrador, ni ha finalizado
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion > 0 && Model.AdvancedAssessmentMode.Assessment.DownloadPDF == false && Model.AdvancedAssessmentMode.Assessment.IsInProgress == false)
                                    {
                                        //Nueva parte
                                        <a href="#" class="btn_go_for_it standard_margin version_advanced_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        <a href="#" class="btn_buy_now recommendations standard_margin version_advanced_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                        <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_advanced_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                                    }
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion > 0 && Model.AdvancedAssessmentMode.Assessment.IsInProgress == true)
                                    {
                                        <a onclick="gAnalytics.throwRedirectEvent('Click Continue', 'Advanced Assestments', '@TranslatorHelper.TranslateTextByIdentifier(@Model.TranslatorAdministratorTI)','@Url.Action("AssessmentQuestionsAdvanced", "AssessmentBoard", new { @pAssessmentTypeId = Model.AssessmentTypeId, @pAssessmentVersion = Model.AdvancedAssessmentMode.Assessment.AssessmentVersion })')" href="#" class="btn_go_for_it standard_margin">@TranslatorHelper.TranslateTextByIdentifier("cotinue_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>

                                        //Nueva parte
                                        <a href="#" class="btn_buy_now recommendations standard_margin version_advanced_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                        <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_advanced_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                                    }
                                    else if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion > 0 && Model.AdvancedAssessmentMode.Assessment.DownloadPDF == true)
                                    {
                                        if (Model.AdvancedAssessmentMode.Assessment.AssessmentVersion != 5)
                                        {
                                            <a href="#" class="btn_go_for_it standard_margin version_advanced_question_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn_go_for_it standard_margin full_try_open_modal">@TranslatorHelper.TranslateTextByIdentifier("do_it_again_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                        }
                                        <a href="#" class="btn_buy_now recommendations standard_margin version_advanced_open_modal" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor; border-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">@TranslatorHelper.TranslateTextByIdentifier("download_recommendations_text") <span style="background-image: url('../../images/icon_recommendations@_user.TenantSkin.TenantStyleTertiaryIconColor')"></span></a>
                                        <a href="#" target="_self" class="btn_go_for_it answers standard_margin version_advanced_open_modal">@TranslatorHelper.TranslateTextByIdentifier("view_your_answers_text") <span style="background-image: url('../../images/icon_answers-negro.png')"></span></a>
                                    }

                                }
                                else
                                {
                                    <a href="#" target="_self" class="btn_go_for_it got_for_it_open_modal">@TranslatorHelper.TranslateTextByIdentifier("go_for_it_text")<span style="background-image: url('../../images/icono_go_for_it-negro.png')"></span></a>
                                }
                            }

                            <p class="description">@TranslatorHelper.TranslateTextByIdentifier(Model.TranslatorAdministratorDescriptionTI)</p>
                        </div>
                    </li>
                }
            </ul>


        </div>
    </div>
</div>

<div class="opacidad"></div>


<div id="listIndustries" class="modal formulary height_220">

</div>

<div id="modal-assessment-full-try" class="modal alerta red">
    <div class="titulo" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;">
        <h1 style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">
            @*Warning!*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_General_Warning")
        </h1>
    </div>
    <div class="contenido">
        <h2>
            @*You have reached the limit of completion of the assessment.*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_Board_Full_Try_Title")
        </h2>
        <p>
            @*At the moment you have filled 6 versions for this assessment. Please select another option.*@
            @TranslatorHelper.TranslateTextByIdentifier("Modal_Board_Full_Try_Body")
        </p>
        @*<a href="#" target="_self" class="button">OK</a>*@
        <a href="#" target="_self" class="button" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">
            @TranslatorHelper.TranslateTextByIdentifier("Modal_General_OK")
        </a>

    </div>
</div>


@if (Model.BasicAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModule)
{
    @Html.Partial("_BasicAssessmentModals", Model)
}

@if (Model.AdvancedAssessmentVisibilityMode == SystemModuleValueVisibilityMode.ShowModule)
{
    @Html.Partial("_AdvancedAssessmentModals", Model)
}