@using SOMSight.Utils.Extensions
@using CaptchaMvc.HtmlHelpers
@using SOMSight.Utils

@model SOMSight.Models.Account.ForgotPasswordViewModel
@{
    var _user = @Session.GetDataWithOutLogin();

    ViewBag.Title = @TranslatorHelper.TranslateTextByIdentifier("forgot_password_question_text").ToString().Substring(0, 1).ToUpper() + @TranslatorHelper.TranslateTextByIdentifier("forgot_password_question_text").ToString().Substring(1, @TranslatorHelper.TranslateTextByIdentifier("forgot_password_question_text").ToString().Length - 1).ToLower(); ;
    ViewBag.LogoUrl = Url.Action("Index", "Home");

    var captcha = @Html.Captcha(@TranslatorHelper.TranslateTextByIdentifier("refresh_text"), "", 5);
}

<style>
    .the_captcha>a{
        color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;
    }
</style>

<!--================================= TITULO ======================================-->
<div class="titulo azuloscuro small" style="background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important;">
    <div class="centro">
        <h1 class="mayusculainicial" style="color: @_user.TenantSkin.TenantStyleSecondaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("forgot_password_question_text")</h1>
    </div>
</div>
<!--================================= TITULO ======================================-->

<div id="pagina" class="formulario registration">
    <div class="seccion">
        <div class="centro">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "formulario" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "lista-texto-validacion", @style= "color: "+@_user.TenantSkin.TenantStyleTertiaryBackgroundColor+ " !important;" })

                <h3 class="menos_margen">@TranslatorHelper.TranslateTextByIdentifier("enter_email_address_text")</h3>
                <div class="reenter">
                    @Html.TextBoxFor(m => m.Email, new { @id= "enter_email" })
                    <br/>
                    <span>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "texto-validacion" })
                    </span>
                </div>
                <div class="the_captcha">
                    @captcha.RenderMarkup()

                    @if (@TempData["ErrorMessage"] != null && !@TempData["ErrorMessage"].ToString().Equals(""))
                    {
                        <p style="font-weight:bold;color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important;">@TempData["ErrorMessage"]</p>
                    }

                    @*<p><img src="images/captcha_ejemplo.png" width="221" height="98"></p>
                    <input id="code" type="text" name="code" placeholder="Type code here">*@
                </div>
                <div class="fila centrada">
                    <input name="boton" type="submit" class="boton" value="@TranslatorHelper.TranslateTextByIdentifier("recovery_text")" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;">
                </div>
            }
        </div>
    </div>
</div>



<script>
    //$(document).ready(function () {
    //    $("#CaptchaInputText").attr("placeholder", $("#InputCaptchaPlaceholder").text());
    //    //$(".the_captcha").find("br").remove()

    //    $(document).on('blur', '#enter_email', function () {
    //        var EmailVal = $('#enter_email').val().trim();

    //        $('#enter_email').val(EmailVal);
    //        console.log(EmailVal);
    //    })
    //});
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @captcha.RenderScript()

    <script>
            $(document).ready(function () {
                $("#CaptchaInputText").attr("placeholder", $("#InputCaptchaPlaceholder").text());
                //$(".the_captcha").find("br").remove()
            });
    </script>
}
