@model SOMSight.Models.Account.ForgotPasswordViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Forgot your password?";
}
<style>
    .contenedor label {
        font-size: 15px;
        color: #333;
        text-align: left;
        margin-bottom: 10px;
    }

    .contenedor input {
        background-color: #fff;
        border: solid 1px #bbb;
        height: 35px;
        font-size: 15px;
        padding: 0 5px;
        margin: 0 0 14px 0;
    }

    .boton {
        background-color: #DF3925 !important;
        border: 0px !important;
        color: #fff;
        font-size: 14px !important;
        text-transform: uppercase;
        cursor: pointer;
        height: 35px !important;
        border-radius: 5px;
        text-align: center;
        -moz-border-radius: 5px;
        margin: 0px 0 10px 0 !important;
        font-family: gotham_medium, Arial, Helvetica, sans-serif;
        padding: 0px 7px 0 7px;
    }

        .boton:hover {
            background-color: #E56222 !important;
        }

    .campo {
        background-color: #fff;
        border: solid 1px #bbb;
        height: 35px;
        font-size: 15px;
        padding: 0 5px;
        margin: 0 0 14px 0;
    }

    .texto {
        font-size: 14px;
    }

    .contenedor {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contenedor-formulario {
        width: 50%;
        margin-left: 25%;
    }
</style>


<div class="contenedor">
    <h2 class="texto" style="font-weight:bold; margin-bottom:10px;text-align: center;">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "contenedor-formulario", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h4 class="texto">Enter your email.</h4>
        <hr style="margin-bottom:10px;">
        @Html.ValidationSummary("", new { @class = "texto" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "texto" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "campo" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "texto" })
            </div>
        </div>
        <div class="form-group">
            <label>Captcha*</label>
            <div class="col-md-10">


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="boton" value="Email Link" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
