@model SOMSight.Models.Account.RegisterVM
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Register";
}


<div id="valla" style="background-image:url(@Url.Content("~/images/valla_choose_activity.jpg")">
    <div class="opacidad">
        <h1>User Registration</h1>
    </div>
</div>

<div id="pagina" class="gris">
    <div class="seccion">
        <div class="centro">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra nulla sed ex varius placerat. Duis eget convallis justo, rutrum euismod diam. Donec fermentum, tellus id vestibulum imperdiet, turpis ex consectetur metus, id congue sapien sem efficitur turpis. Praesent diam nulla, auctor vitae libero eu,</h4>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Industry, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Industry, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Industry, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberOfDevices, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NumberOfDevices, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumberOfDevices, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Captcha*</label>
                    <div class="col-md-10">
                        @Html.Captcha(5)
                        @if (@TempData["ErrorMessage"] != null && !@TempData["ErrorMessage"].ToString().Equals(""))
                        {
                            <p style="font-weight:bold;color:red;">@TempData["ErrorMessage"]</p>
                        }

                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-register" value="Register" />
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="register-separator">
        
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
