@using SOMSight.Utils.Extensions
@using SOMSight.Utils

@model SOMSight.Models.Account.ResetPasswordViewModel

@{
    var _user = @Session.GetDataWithOutLogin();

    ViewBag.Title = "Reset password";
    ViewBag.LogoUrl = Url.Action("Index", "Home");
}


<style>
    .boton {
        background-color: #DF3925 !important;
        border: 0px !important;
        color: #fff;
        font-size: 14px !important;
        text-transform: uppercase;
        cursor: pointer;
        height: 35px !important;
        border-radius: 5px;
        text-align: center;
        -moz-border-radius: 5px;
        margin: 0px 0 10px 0 !important;
        font-family: gotham_medium, Arial, Helvetica, sans-serif;
        padding: 0px 7px 0 7px;
    }

        .boton:hover {
            background-color: #E56222 !important;
        }

    .campo {
        background-color: #fff;
        border: solid 1px #bbb;
        height: 35px;
        font-size: 15px;
        padding: 0 5px;
        margin: 0 0 14px 0;
    }

    .texto {
        font-size: 14px;
    }

    .contenedor {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contenedor-formulario {
        width: 50%;
        margin-left: 25%;
    }
</style>

<div class="titulo azuloscuro small" style="background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important;">
    <div class="centro">
        <h1 style="color: @_user.TenantSkin.TenantStyleSecondaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("reset_your_password_text")</h1>
    </div>
</div>

<div id="pagina" class="formulario registration">
    <div class="seccion">
        <div class="centro">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "contenedor-formulario", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*<hr style="margin-bottom:10px;" />*@
                @Html.ValidationSummary("", new { @class = "texto" })
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.UserId)
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "texto" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "campo" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "texto" })
                        </div>
                    </div>*@
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "texto" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "campo" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "texto" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "campo" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "texto" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="boton" value="@TranslatorHelper.TranslateTextByIdentifier("reset_text")" style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor !important; color: @_user.TenantSkin.TenantStyleTertiaryFontColor;" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
