
@model SOMSight.Models.PromotionalCode.CreatePromoCodeVM

@using (Ajax.BeginForm("Add", "AdminPromoCodes", null,
                                                                    new AjaxOptions
                                                                    {
                                                                        HttpMethod = "POST",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        OnSuccess = "OnSuccessAdd",
                                                                        OnFailure = "OnFailureAdd",
                                                                        OnBegin = "OnBeginAdd",
                                                                        UpdateTargetId = "Create",
                                                                        OnComplete = "OnCompleteAdd"
                                                                    },
                                                                    new
                                                                    {
                                                                        @id = "FormAdd"
                                                                    }
                                                                ))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">

        <h4 class="modal-title">Generate Promotional Codes</h4>

    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, htmlAttributes : new { @class = "control-label col-md-2" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Code,new { htmlAttributes = new { @class = "form-control upper_case_text" } } )
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PromoDays, new { @class = "col-md-2 control-label" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">

                            @Html.EditorFor(model => model.PromoDays, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.PromoDays, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PlanId, new { @class = "col-md-2 control-label" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.PlanId,Model.PlanSelectListItem, new { @class = "form-control" } )
                            @Html.ValidationMessageFor(m => m.PlanId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AmountOfCodes, new { @class = "col-md-2 control-label" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">

                            @Html.EditorFor(model => model.AmountOfCodes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.AmountOfCodes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Generate" id="btnSave" name="cmd" class="btn btn-success" />
        </div>
    </div>

}



