@model SOMSight.Models.PromotionalCode.PromoCodesGridVM
@using SOMSight.Utils.Helpers

<div class="text-right">
    <span class="label label-primary">
        <label>Current Utc Date:</label> @DateTime.UtcNow.ToString("dd/MM/yyyy HH:mm")
    </span>
</div>
<table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
    <thead class="cell-border" id="TH">
        <tr class="table-header">
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Tenant.Name)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Code)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.AssignedTo)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.AssignedToEmail)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.PromoDays)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.PlanId)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Status)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.CreatedDate)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.ActivatedDate)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.EndPromoCodeDate)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.RemainingDays)</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
        <tr data-itemid="@item.Id" class="table-item">
            <td>
                @item.Tenant.Name
            </td>
            <td>
                @item.Code
            </td>
            <td>
                @item.AssignedTo
            </td>
            <td>
                @item.AssignedToEmail
            </td>
            <td class="text-center">
                @item.PromoDays
            </td>
            <td class="text-center">
                @item.Plan.PlanName
            </td>
            <td class="text-center">
                @if (item.Status)
                {
                    <i class="glyphicon glyphicon-ok-sign"></i>
                }
                else
                {
                    <i class="glyphicon glyphicon-minus-sign"></i>
                }
            </td>
            <td class="text-center">
                @if (item.CreatedDate != null)
                {
                    @item.CreatedDate.ToString("dd/MM/yyyy HH:mm");
                }
            </td>
            <td class="text-center">
                @if (item.ActivatedDate != null)
                {
                    @item.ActivatedDate.Value.ToString("dd/MM/yyyy HH:mm");
                }
            </td>
            <td class="text-center">
                @if (item.ActivatedDate != null)
                {
                    @item.EndPromoCodeDate.Value.ToString("dd/MM/yyyy HH:mm");
                }
            </td>
            <td class="text-center">
                @if (item.RemainingDays > -1)
                {
                    @item.RemainingDays;
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9" class="text-center text-nowrap" style="text-align:center;">
                @Html.NSPagination(Model.PageSettings)
            </td>
        </tr>
    </tfoot>
</table>

<script>

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTable').DataTable({
            "columnDefs": [

            ],
            "scrollY": ventana_alto,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#TH').resize(function () {

            table.columns.adjust();
        })


        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>

