@model SOMSight.Models.CreateProcessVM

@{
    ViewBag.Action = "Add";
};

@using (Ajax.BeginForm("CreateProcess", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace
                                ,
    UpdateTargetId = "CreateProcessContent"
                                ,
    OnBegin = "OnProcessCreationBegin"
                                ,
    OnSuccess = "OnProcessCreationSuccess"
}, new { @id = "CreateProcessForm" }))
{
    @Html.HiddenFor(x => x.ActivityId)
    @Html.HiddenFor(x => x.AssessmentSummaryId)
    
    <div class="row">
        <label>Process Name</label>
        @Html.TextBoxFor(x => x.Name)
        <p class="required">
           @Html.ValidationMessageFor(x=>x.Name)
        </p>
    </div>
    <div class="row">
        <label>Process Description</label>
        @Html.TextAreaFor(x => x.Description)
        <p class="required">
            @Html.ValidationMessageFor(x => x.Description)
        </p>
    </div>
    <div class="row last">
        <a href="#" target="_self" class="button gris cerrar f_left">CANCEL</a>
        <input type="submit" value="OK" class="button rojo f_right" />
        @*<a href="#" target="_self" class="button rojo f_right" id="CreateProcessButtonOK">OK</a>*@
    </div>

}
