@model SOMSight.Models.CreateProcessVM

@{ 
    ViewBag.Action = "Edit";
};

@using (Ajax.BeginForm("UpdateProcess", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace
                                            ,
    UpdateTargetId = "CreateProcessContent"
                                            ,
    OnBegin = "OnProcessCreationBegin"
                                            ,
    OnSuccess = "OnProcessCreationSuccess"
}, new { @id = "CreateProcessForm" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ActivityId)
    @Html.HiddenFor(x => x.AssessmentSummaryId);
    @Html.HiddenFor(x => x.UserCreation)
    @Html.HiddenFor(x => x.DateCreation)
    <div class="row">
        <label>Process Name</label>
        @Html.TextBoxFor(x=>x.Name)
        <label>
            @Html.ValidationMessageFor(x => x.Name)
        </label>
        @*<input type="text" name="Name" value="" id="ProcessName">*@
    </div>
    <div class="row">
        <label>Process Description</label>
        @Html.TextAreaFor(x => x.Description)
        <label>
            @Html.ValidationMessageFor(x => x.Description)
        </label>
        @*<textarea name="Description" id="Description"></textarea>*@
    </div>
    <div class="row last">
        <a href="#" target="_self" class="button gris cerrar f_left">CANCEL</a>
        <input type="submit" value="OK" class="button rojo f_right" />
        @*<a href="#" target="_self" class="button rojo f_right" id="CreateProcessButtonOK">OK</a>*@
    </div>

}
