@using SOMSight.Utils.Extensions
@using SOMSight.Utils
@using SOMSight.Models

@model ActivitiesVM

@{
    ViewBag.Title = "Industry Insights";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewBag.Active = "4";
}


@{
    var userPlan = Session.GetCurrenUserPlan();
    var _user = Session.GetCurrentUser();
}

@section Scripts{
    
    <script src="@Url.Content("~/Scripts/IndustryInsights/IndustryInsights.js")"></script>
    <script src="@Url.Content("~/Scripts/IndustryInsights/CreateProcess.js")"></script>
    <script src="@Url.Content("~/Scripts/IndustryInsights/CRUD_Problems.js")"></script>
    <script src="@Url.Content("~/Scripts/IndustryInsights/CRUD_DigitalTransformation.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

    
}

<label style="display:none;" id="NS_LoadProcessesURLCallback">@Url.Action("LoadProcesses", "IndustryInsights")</label>
<label style="display:none;" id="NS_LoadProblemsAndDigitalTransformationURLCallback">@Url.Action("LoadProblemsAndDigitalTransformation", "IndustryInsights")</label>
<label style="display:none;" id="NS_LoadAboutThisActivitesURLCallback">@Url.Action("LoadAboutThisActivities", "IndustryInsights")</label>
<label style="display:none;" id="NS_LoadCreateProcessModalURLCallback">@Url.Action("CreateProcessModal", "IndustryInsights")</label>
<label style="display:none;" id="NS_LoadUpdateProcessModalURLCallback">@Url.Action("UpdateProcessModal", "IndustryInsights")</label>
<label style="display:none;" id="NS_DeleteProcessURLCallback">@Url.Action("DeleteProcess", "IndustryInsights")</label>
<label style="display:none;" id="NS_DeleteProblemURLCallback">@Url.Action("Delete", "Problem")</label>
<label style="display:none;" id="NS_DeleteDigitalTransformationURLCallback">@Url.Action("Delete", "DigitalTransformation")</label>
<label style="display:none;" id="NS_ValidateIndustryInsightsFinalURLCallback">@Url.Action("ValidateFinalIndustryInsigths", "IndustryInsights")</label>
<label style="display:none;" id="NS_IsAdminUser">False</label>

@*<div class="centro industry_insights define">
    <a class="logo" target="_self"><img src="@Url.Content("~/images/logo.png")" width="300" height="84" alt=""></a>

    <div class="to_right">

        @if (!Model.AssessmentFinished)
        {
            <a href="#" target="_self" class="btn download">
                <span>Download recommendations</span>
            </a>
        }
        else
        {
             <a href="@Url.Action("GetRecommendations","IndustryInsights",new { Id = Model.AssessmentSummaryId})" target="_self" class="btn download active">
                 <span>Download recommendations</span>
             </a>
        }
        

        
        <h1 class="titulo">
            <span class="texto">@TranslatorHelper.TranslateTextById(Model.IndustryTranslationAdministrationId) Industry Insights</span>
            <span class="icono"><img src="@Url.Content("~/images/icono_industry_insights_titulo.png")" width="48" height="50" alt="Cloud Readiness Assessments"></span>
        </h1>
    </div>
</div>*@

<div class="container industry_insights" id="titulo_general">
    <div class="centro">
        <div class="to_right">



            <h1 class="titulo">
                <span class="texto">@TranslatorHelper.TranslateTextById(Model.IndustryTranslationAdministrationId) Industry Insights</span>
                <span class="icono"><img src="@Url.Content("~/images/icono_industry_insights_titulo.png")" width="48" height="50" alt="Cloud Readiness Assessments"></span>
            </h1>

            <!-- download button without class active -->
            @if (!Model.AssessmentFinished)
            {
                <a href="#" target="_self" class="btn download">
                    <span>Download recommendations</span>
                </a>
            }
            else
            {
                <a href="@Url.Action("GetRecommendations","IndustryInsights",new { Id = Model.AssessmentSummaryId})" target="_self" class="btn download active">
                    <span>Download recommendations</span>
                </a>
            }
            <!-- <a href="#" target="_self" class="btn download active"><span>Download recommendations</span></a>-->
        </div>
    </div>
</div>

<div class="industry_insights define">
    <!--================================= BOF DEFINE VALUE ======================================-->
    <div class="container" id="define_value">
        <div class="content">
            <h2>DEFINE YOUR VALUE CHAIN</h2>

            <ul>
                <div class="izko">
                    <h3 class="rojo">PRIMARY ACTIVITIES</h3>
                    @foreach (var item in Model.Activities.Where(x=>x.TypeActivityId == 1))
                    {
                        <li>
                            <a href="#" target="_self" class="activity-item" data-activityid="@item.Id" data-assessmentsummaryid="@Model.AssessmentSummaryId">
                                @TranslatorHelper.TranslateTextById(item.TranslatorAdministratorDescriptionId)
                            </a>
                        </li>
		                
	                }
                    
                </div>
                <div class="dero">
                    <h3 class="cyan">SUPPORT ACTIVITIES</h3>
                    @foreach (var item in Model.Activities.Where(x => x.TypeActivityId == 2))
                    {
                        <li>
                            <a href="#" target="_self" class="gris activity-item" data-activityid="@item.Id" data-assessmentsummaryid="@Model.AssessmentSummaryId">
                                @TranslatorHelper.TranslateTextById(item.TranslatorAdministratorDescriptionId)
                            </a>
                        </li>

                    }
                </div>
            </ul>

        </div>
    </div>
    <!--================================= EOF DEFINE VALUE ======================================-->
    <!--================================= PAGINA ======================================-->
    <div class="container gris" id="define_value_contents">
        <div class="content">
            <div class="izk">
                <h3 class="about_this activo">
                    About this Activities
                </h3>
                <h4>PROCESSES</h4>

                @if (!Model.AssessmentFinished)
                {
                    <a href="#" target="_self" class="add">Add</a>
                }
                

                <div id="processes-partial">
                    
                </div>
            </div>


            <div class="der">
                <div class="original" id="about-this-activities">

                </div>

                <div class="ii_process" id="problems-and-digital-transformation">

                </div>
            </div>
        </div>

    </div>
    <!--================================= PAGINA ======================================-->
    <!--================================= CONTROLES ======================================-->
    <div class="controles" style="background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important;">
        <div class="centro">
            <ul class="bloques centro">


                <li class="azul izk" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">
                    <a href=@Url.Action("Index","AssessmentBoard",new { Id = 4}) target="_self">
                        <span style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">BACK</span>
                    </a>
                </li>

                @if (!Model.AssessmentFinished)
                {
                    <li class="rojo der end" style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">
                        <a href="#" target="_self" id="SendIndustryFinal"><span style="color: @_user.TenantSkin.TenantStyleTertiaryFontColor !important;">SUBMIT</span></a>
                    </li>

                    using (Html.BeginForm("SendFinalIndustryInsight", "IndustryInsights", new { pAssessmentSummaryId = Model.AssessmentSummaryId }, FormMethod.Post, new { @id = "IndustryInsightsForm" }))
                    {

                    }

                }


            </ul>
        </div>
    </div>
    <!--================================= CONTROLES ======================================-->
    <!--================================= BOF MODAL ======================================-->
    <div class="opacidad"></div>


    <!--Confirm submit industry-->
    <div id="modalConfirmSubmit" class="NS_modal">

        <div class="titulo">
            <h2>Confirm</h2>
            <p class="cerrar">
            </p>
        </div>
        <div class="contenido">
            <h5>Are you sure you want to finish the Industry Insights process?</h5>


        </div>
        <div class="footer">
            <button class="ok-button" id="SendIndustryFinalOK">OK</button>
            <button class="cancel-button">CANCEL</button>
        </div>
    </div>



    <div class="modal alerta red">
        <div class="titulo">
            <h1>Alert!</h1>
        </div>
        <div class="contenido">
            <h2>Industry Insights</h2>
            <p>Now you can not download a document with our recommendations.</p>
            <a href="#" target="_self" class="button">Cancel</a>
            
        </div>
    </div>

    <div id="modalConfirm" class="NS_modal">

        <div class="titulo">
            <h2>Confirm</h2>
            <p class="cerrar">
            </p>
        </div>
        <div class="contenido">
            <h5>Are you sure you want to delete the process?</h5>
            

        </div>
        <div class="footer">
            <button class="ok-button" id="delete-process-ok">OK</button>
            <button class="cancel-button">CANCEL</button>
        </div>
    </div>

    <div id="modalConfirmProblem" class="NS_modal">

        <div class="titulo">
            <h2>Confirm</h2>
            <p class="cerrar">
            </p>
        </div>
        <div class="contenido">
            <h5>Are you sure you want to delete the problem?</h5>

        </div>
        <div class="footer">
            <button class="ok-button" id="delete-problem-ok">OK</button>
            <button class="cancel-button">CANCEL</button>
        </div>
    </div>

    <div id="modalConfirmDigitalTransformation" class="NS_modal">

        <div class="titulo">
            <h2>Confirm</h2>
            <p class="cerrar">
            </p>
        </div>
        <div class="contenido">
            <h5>Are you sure you want to delete the digital transformation?</h5>

        </div>
        <div class="footer">
            <button class="ok-button" id="delete-digitaltransformation-ok">OK</button>
            <button class="cancel-button">CANCEL</button>
        </div>
    </div>

    <div id="modalErrorFinalIndustryInsights" class="modal alerta red">
        <div class="titulo">
            <h1>Alert!</h1>
        </div>
        <div class="contenido">
            <h2>Processes</h2>
            <p>All your processes must to have at least one Problem and Digital Transformation item, please verify.</p>
            <a href="#" target="_self" class="button">OK</a>

        </div>
    </div>

    <div class="contenedor_modal contenedor_add_to_current">

    </div>



    <div class="contenedor_modal contenedor_add_to_current_digitaltrans">
        
    </div>

    


    <!--================================= EOF MODAL ======================================-->
</div>


<script>
    $(document).ready(function () {
        selectedActivity = {
            AssessmentSummaryId: @Model.AssessmentSummaryId,
            ActivityId: @Model.Activities.FirstOrDefault().Id,
            IsAdminUser: false
        };
        LoadAboutThisActivities();
    })
</script>