@using SOMSight.Utils
@using SOMSight.Helpers
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title></title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->

    <style>
       @@font-face {
            font-family:'gotham_book';
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Book.eot');
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Book.woff') format('woff'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Book.ttf') format('truetype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Book.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @@font-face {
            font-family:'gotham_bold';
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Bold.eot');
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Bold.woff') format('woff'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Bold.ttf') format('truetype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Bold.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @@font-face {
            font-family:'gotham_light';
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Light.eot');
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Light.eot?#iefix') format('embedded-opentype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Light.woff') format('woff'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Light.ttf') format('truetype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Light.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @@font-face {
            font-family:'gotham_medium';
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Medium.eot');
            src: url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Medium.woff') format('woff'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Medium.ttf') format('truetype'),
                 url('@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)fonts/GothamHTF-Medium.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        *{
          margin: 0px;
          padding: 0px;
          line-height:1em;
          font-size: 10px;
          border-collapse:collapse;
          font-family: gotham_book, Arial, Helvetica, sans-serif;
        }
        strong{
          font-size: 1em;
          font-family: gotham_bold, Arial, Helvetica, sans-serif;
        }
        a img, input {
          border: 0px inset;; 
        }
        h1, h2, h3, h4, h5, h6, p, ul, li, form, textarea, input, label, legend, fieldset, select, seccionquote{
          font-weight: normal;
          float: left;
          width: 100%;
          -webkit-box-sizing: border-box; 
          -moz-box-sizing: border-box;    
          box-sizing: border-box;
          text-align: left;       
        }
        div,a,button{
          -webkit-box-sizing: border-box; 
          -moz-box-sizing: border-box;    
          box-sizing: border-box; 
        }
        a,a:hover, button, button:hover, .button, .button:hover{
	          -o-transition: all .1s ease-in-out;
	          -moz-transition: all .1s ease-in-out;
	          -webkit-transition: all .1s ease-in-out;
	          transition: all .1s ease-in-out;
        }
        ul{
          list-style-type:none;
        }
        body{
	        background-color:#CCC;
        }
        .clear {
	        clear: both;
        }
        .hoja{
	        width: 993px;
	        position: relative;
	        margin:auto;
	        overflow:auto;
	        background-color:#FFF;
        }
        .altura_carta{
	        height: 1055px;
        }
        .tope{
	        height: 123px;
	        float: left;
	        width: 100%;
	        background-color: #fff;
        }
        .tope .cell{
	        width: auto;
	        height: 123px;
	        display: table-cell;
	        vertical-align: middle;
	        text-align: center;
	        padding: 0 0 0 20px;
        }
        .tope .cell img{
	        float: none;
        }
        .tope .cell h1{
	        color: #1F81BF;
	        font-size: 40px;
	        float: none;
	        display: table-cell;
	        vertical-align: middle;
	        text-align:: left;
	        width: auto;
        }
        .barra_naranja{
	        float: left;
	        width: 100%;
	        background-color: #E56222;
	        //padding: 35px 0;
        }
        .barra_naranja h2{
	        font-size: 30px;
	        color: #fff;
	        line-height: 30px;
            font-family: gotham_medium, Arial, Helvetica, sans-serif;
	        //padding: 152px 0 0 0;
        }
        .foto{
	          
            height: 700px;
	        //float: left;
	        width: 100%;
	        -o-background-size:cover;
	        -moz-background-size:cover;
	        -webkit-background-size:cover;
	        background-size:cover;
	        background-position: center center;
	        background-repeat: no-repeat;
	        position: relative;
             
        }
        .foto .bloque_id{
	        position: absolute;
	        //right: 0px;
	        //top: 150px;
	        //width: 180px;
	        //z-index: 10;
	        //background-color: #1F82C0;
        }
        .foto .azul_claro{
	        background-color: #1F82C0;
	        //float: left;
	        width: 40%;
	        min-height: 240px;
	        padding: 15px 20px;
        }
        .foto  .azul_oscuro{
	        background-color: #141A30;
	        float: left;
	        width: 40%;



	        padding: 15px 20px;
        }
        .foto .bloque_id h3{
	        color: #fff;
	        font-size: 50px;
            font-family: gotham_bold, Arial, Helvetica, sans-serif;
	        line-height: 40px;
        }
        .foto .bloque_id h4 {
	        color: #fff;
	        font-size: 18px;
            font-family: gotham_medium, Arial, Helvetica, sans-serif;
	        line-height: 21px;
	        margin: 0 0 10px 0;
	        padding: 0 0 0 3px;
        }
        .foto .bloque_id h5{
	        color: #fff;
	        font-size: 23px;
            font-family: gotham_medium, Arial, Helvetica, sans-serif;
	        line-height: 26px;
        }
        

        .foot.medium{
	        position: absolute;
	        bottom: 0px;
	        left: 0px;
	        width: 100%;
	        float: none;
	        height: auto;
	        padding: 20px 0px 20px 0px;
        }
        .foot.medium p{
	        text-align: center;
	        font-size: 20px;
	        color: #1F80BF;
	        margin: 0 0 25px 0;
        }
        .foot.small{
	        position: absolute;
	        bottom: 0px;
	        left: 0px;
	        width: 100%;
	        float: none;
	        height: 50px;
	        padding: 10px 10px 0 10px;
        }
        .foot.small h6{
	        width: auto;
	        float: right !important;
	        text-align: right;
	        font-size: 14px;
	        height: 44px;
	        /*background-image:url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png);
	        background-position: 0 0;
	        background-repeat: no-repeat;*/
	        padding: 5px 0 0 40px;
        }
        .foot.small h6 span.naranja{
	        font-size: 1em;
	        display:: inline-block;
	        color: #DF3925;
            font-family: gotham_medium, Arial, Helvetica, sans-serif;
	        border-left: solid 1px #999;
	        padding-left: 10px;
	        margin-left: 10px;
	        height: 44px;
	        line-height: 44px;
        }
        .foot.small h6 span.black{
	        font-size: 1em;
	        color: #131930;
	        display:: inline-block;
	        margin-left: 10px;
            font-family: gotham_bold, Arial, Helvetica, sans-serif;
	        height: 44px;
	        line-height: 44px;
        }
        
        .foto_color{
            height: 490px;
	        //float: left;
	        width: 100%;
	        -o-background-size:cover;
	        -moz-background-size:cover;
	        -webkit-background-size:cover;
	        background-size:cover;
	        background-position: center center;
	        background-repeat: no-repeat;
	        position: relative;
        }
        .foto_color.rojo{
	        height: 420px;
        }
        .foto_color.rojo h1{
	        padding-top:100px;
        }
        .foto_color h1{
	        float: none;
	        width: 100%;
	        display: table-cell;
	        vertical-align: middle;
	        text-align: center;
	        font-size: 90px;
	        color: #fff;
	        text-shadow: 0 0 10px rgba(0,0,0,0.5);
            font-family: gotham_bold, Arial, Helvetica, sans-serif;	
        }

        .descriptivo{
	        float: left;
	        width: 100%;
	        padding: 50px 20px 0;
	        text-align: center;
        }
        .descriptivo h2{
	        font-size: 40px;
	        line-height: 30px;
	        margin: 0 0 25px 0;
	        text-align: center;
        }
        .descriptivo h2.rojo{
	        color: #DF3925;
        }
        .descriptivo h3{
	        font-size: 40px;
	        line-height: 30px;
	        margin: 0 0 25px 0;
	        text-align: center;
	        color: #131930;
	        /*background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/linea_divisoria.png);
	        background-position: center bottom;
	        background-repeat: no-repeat;*/
	        padding: 0 0 30px 0;
	        margin: 0 0 40px 0;
        }
        .descriptivo p{
	        color: #333;
	        font-size: 25px;
	        line-height: 29px;
	        margin: 0 0 25px 0;
	        text-align: center;
	        padding:0px 30px;
        }

        .foto_separador{
	        width: 100%;
	        float: left;
	        height: 970px;
	        background-repeat: no-repeat;
	        background-position: center center;
	        background-size:cover;
        }
        .foto_separador h1{
	        width:100%;
	        float:left;
	        text-align:center;
	        font-size: 80px;
	        color: #fff;
	        text-shadow: 0 0 10px rgba(0,0,0,0.5);
            font-family: gotham_bold, Arial, Helvetica, sans-serif;
            padding:0px 50px;
        }
        .foto_separador.problemas h1{
	        padding-top:120px;
        }
        .foto_separador.transformacion_digital h1{
	        padding-top:650px;
        }
        .top_numeral{
	        float: left;
	        width: 100%;
	        background-color: #1F82C0;	
        }
        .top_numeral .izk{
	        float: left;
	        width: 75%;
	        padding: 10px 10px 0;
        }
        .top_numeral .izk h1{
	        font-size: 30px;
	        line-height: 30px;	
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
	        color: #fff;
	        margin: 0 0 5px 0;
        }
        .top_numeral .izk h2{
	        font-size: 20px;
	        line-height: 28px;	
	        font-family: gotham_medium, Arial, Helvetica, sans-serif;
	        color: #fff;	
        }
        .top_numeral .der{
	        float: right;
	        width: 15%;	
	        padding: 10px 0px;
	        border-left: solid 1px #fff;
        }
        .top_numeral .der h4{
	        font-size: 45px;
	        color: #fff;
	        text-align: center;
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
	
        }
        .content .tabla{
	        padding: 15px 30px 0 30px;
        }
        .content .tabla .col_1{
	        float: none;
	        width: 84px;
	        /*display: table-cell;
	        overflow: auto;
	        vertical-align: top;*/
	        padding: 20px 0 0 0px;
        }
        .content .tabla .rojo.col_1{
	        background-color: #CC0000;
        }
        .content .tabla .naranja.col_1{
	        background-color: #FF7F00;
        }
        .content .tabla .amarillo.col_1{
	        background-color: #FFBF00;
        }
        .content .tabla .verde.col_1{
	        background-color: #7FB843;
        }
        .content .tabla .azul.col_1{
	        background-color: #1F82C0;
        }
        .content .tabla .col_1 h3{
	        font-size: 15px;
	        color: #fff;
	        margin: 0 0 10px 0;
	        text-align: center;
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
        }
        .content .tabla .col_1 h4{
	        font-size: 50px;
	        color: #fff;
	        line-height: 40px;
	        text-align: center;
	        margin: 0 0 15px 0;
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
        }
        .content .tabla .col_2{
	        float: none;
	        width: 270px;
	        display: table-cell;
	        overflow: auto;
	        vertical-align: top;
	        background-color: #EEEEEE;
	        padding: 10px;
        }
        .content .tabla .col_2 h2{
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
	        font-size: 12px;
	        color: #333;
	        line-height: 18px;
	        margin: 0 0 1px 0;
        }
        .content .tabla .col_2 p{
	        font-family: gotham_book, Arial, Helvetica, sans-serif;	
	        font-size: 12px;
	        color: #333;
	        line-height: 18px;
	        margin: 0 0 18px 0;
        }
        .content .tabla .col_3{
	        float: none;
	        width: 350px;
            display: table-cell;
	        overflow: auto;
	        vertical-align: top;
	        background-color: #ddd;
	        padding: 10px;
        }
        .content .tabla .col_3 h2{
	        font-size: 24px;
	        color: #333;
	        line-height: 38px;
	        font-family: gotham_bold, Arial, Helvetica, sans-serif;	
	        margin: 0 0 10px 0;
        }
        .content .tabla .col_3 p{
	        font-size: 15px;
	        color: #333;
	        line-height: 18px;
	        font-family: gotham_book, Arial, Helvetica, sans-serif;	
	        margin: 0 0 20px 0;
        }
        /*.altura_variable .content .tabla .table{
	        float: left;
	        width: 100%;
	        margin: 0px;
	        padding: 0px;
        }
        .altura_variable .content .tabla .table li{
	        border-bottom: solid 6px #ddd;
	        background-color: #fff;
	        border: solid 1px #ccc;
	        margin: 0 0 5px 0;
        }
        .altura_variable .content .tabla .table li div{
	        font-size: 15px;
	        color: #333;
	        padding: 7px 7px;
	        float: none;
	        display: inline-block;
        }
        .altura_variable .content .tabla .table li div:nth-child(1){
	        width: 40%;
        }
        .altura_variable .content .tabla .table li div:nth-child(2){
	        width: 40%;
        }
        .altura_variable .content .tabla .table li div:nth-child(3){
	        text-align: center;
	        width: 10%;
        }
        .altura_variable .content .tabla .table li div:nth-child(4){
	        text-align: center;
	        width: 5%;
        }
        .altura_variable .content .tabla .table li.thead{
	        background-color: rgba(0,0,0,0);
	        border: 0px;	
        }
        .altura_variable .content .tabla .table li.thead div{
	        font-family: gotham_medium, Arial, Helvetica, sans-serif;	
        }*/
    </style>

</head>




<body>
    <!--==============Caratula-->
    <div class="hoja altura_carta">
        
            <table class="tope">
                <tr>
                    <td height="5px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell">
                        <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/icono-transformacion-digital.png" width="118" height="118" />
                    </td>
                    <td class="cell">
                        <h1>Transformación Digital</h1>
                    </td>
                </tr>
                <tr>
                    <td height="5px"></td>
                    <td></td>
                </tr>
            </table>
            <table class="barra_naranja">
                    <tr>
                        <td height="25px"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="25%"></td>
                        <td>
                            <h2>RECOMENDACIONES</h2>
                        </td>
                    </tr>
            </table>
            <div >
               
            </div>
           
        <div class="foto" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_01.jpg);  ">
            <table>
                <tr>
                    <td height="200px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="500px"></td>
                    <td class="bloque_id azul_claro">
                        <h4>Compañía</h4>
                        <h3>PQP</h3>
                    </td>

                </tr>
            </table>
            <table>

                
                <tr>
                    <td width="500px"></td>
                    <td class="bloque_id azul_oscuro">
                        <h5>Junio 2018</h5>
                    </td>
                    
                </tr>
            </table>
        </div>
               
        <table class="foot big">
            <tr>
                <td height="5px"></td>
                <td></td>
            </tr>
            <tr>
                <td width="400px"></td>
                <td>
                    <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo.png" width="338" height="96" />
                </td>
            </tr>
        </table>        
            
        </div>
        
    <!--==============Presentacion Empresa-->
    <div class="hoja altura_carta">
           
        <div class="foto_color" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_color_azul.jpg);  ">

            <table>
                <tr>
                    <td height="150px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="20%"></td>
                    <td style="position:absolute;"><h1>Empresa</h1></td>
                </tr>
            </table>

        </div>
        <div class="descriptivo">
            <h2 class="rojo">La Compañía</h2>
            <p>Compañía dedicada a la elaboración y comercialización de productos de consumo masivo para el aseo y limpieza del hogar, industriales, agropecuarios y químicos para tratamiento de aguas y químicos industriales</p>
        </div>
        <br />
        <table>
            <tr>
                <td height="215px"></td>
            </tr>
            <tr>
                <td class="foot small">
                    <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                </td>
                
                <td class="foot small">
                    <h6>
                        <span class="black">
                            <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50"/>
                            
                            Recomendaciones |
                        </span>
                        <span class="naranja">Industry Insights</span>
                    </h6>
                </td>
            </tr>
        </table>
            
     </div>

    <!--==============Separador Problemas-->   
    <div class="hoja altura_carta">
        <div class="foto_separador problemas" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_fondo_problemas.jpg)">
            <h1>Problemas</h1>
        </div>
        <br />
        <table>
             <tr>
                <td class="foot small">
                    <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                </td>

                <td class="foot small">
                    <h6>
                        <span class="black">
                            <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                            Recomendaciones |
                        </span>
                        <span class="naranja">Industry Insights</span>
                    </h6>
                </td>
            </tr>
        </table>
    </div>

    <!--==============Listado de Problemas por Proceso-->
    <div class="hoja altura_carta">


        <div class="top_numeral">
            <div class="izk">
                <h1>Problemas: Operaciones</h1>
                <h2>Proceso: Optimizar las operaciones</h2>
            </div>
            <div class="der">
                <h4>1</h4>
            </div>
        </div>




        <div class="content">
            <div class="tabla">
                <table>
                    <tr>
                        <td class="rojo col_1">
                            <h3>PRIOR.</h3>
                            <h4>1</h4>
                        </td>
                        <td class="col_2">
                            <h2>Problema</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Oportunidad</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Solución</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tabla">
                <table>
                    <tr>
                        <td class="naranja col_1">
                            <h3>PRIOR.</h3>
                            <h4>2</h4>
                        </td>
                        <td class="col_2">
                            <h2>Problema</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Oportunidad</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Solución</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tabla">
                <table>
                    <tr>
                        <td class="amarillo col_1">
                            <h3>PRIOR.</h3>
                            <h4>3</h4>
                        </td>
                        <td class="col_2">
                            <h2>Problema</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Oportunidad</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Solución</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="tabla">
                <table>
                    <tr>
                        <td class="verde col_1">
                            <h3>PRIOR.</h3>
                            <h4>4</h4>
                        </td>
                        <td class="col_2">
                            <h2>Problema</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Oportunidad</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Solución</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>            


            


            <table>
                <tr>
                    <td height="40px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="foot small">
                        <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                    </td>

                    <td class="foot small">
                        <h6>
                            <span class="black">
                                <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                                Recomendaciones |
                            </span>
                            <span class="naranja">Industry Insights</span>
                        </h6>
                    </td>
                </tr>
            </table>



        </div>
    </div>

    <div class="hoja altura_carta">


        <div class="top_numeral">
            <div class="izk">
                <h1>Problemas: Operaciones</h1>
                <h2>Proceso: Optimizar las operaciones</h2>
            </div>
            <div class="der">
                <h4>1</h4>
            </div>
        </div>




        <div class="content">
            <div class="tabla">
                <table>
                    <tr>
                        <td class="azul col_1">
                            <h3>PRIOR.</h3>
                            <h4>5</h4>
                        </td>
                        <td class="col_2">
                            <h2>Problema</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Oportunidad</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Solución</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

           

            <table>
                <tr>
                    <td height="640px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="foot small">
                        <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                    </td>

                    <td class="foot small">
                        <h6>
                            <span class="black">
                                <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                                Recomendaciones |
                            </span>
                            <span class="naranja">Industry Insights</span>
                        </h6>
                    </td>
                </tr>
            </table>



        </div>
    </div>

    <!--==============Separador Transformacion Digital-->
    <div class="hoja altura_carta">
        <div class="foto_separador transformacion_digital" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_fondo_transformacion.jpg)">
            <h1>Transformación Digital</h1>
        </div>
        <br />
        <table>
            <tr>
                <td class="foot small">
                    <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                </td>

                <td class="foot small">
                    <h6>
                        <span class="black">
                            <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                            Recomendaciones |
                        </span>
                        <span class="naranja">Industry Insights</span>
                    </h6>
                </td>
            </tr>
        </table>
    </div>


    <!--==============Listado de COmentarios Transformacion Digital-->
    <div class="hoja altura_carta">


        <div class="top_numeral">
            <div class="izk">
                <h1>Transformación Digital: Operaciones</h1>
                <h2>Proceso: Optimizar las operaciones</h2>
            </div>
            <div class="der">
                <h4>1</h4>
            </div>
        </div>




        <div class="content">
            <div class="tabla">
                <table>
                    <tr>
                        <td class="rojo col_1">
                            <h3>PRIOR.</h3>
                            <h4>1</h4>
                        </td>
                        <td class="col_2">
                            <h2>Pilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Tecnología</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Comentarios</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tabla">
                <table>
                    <tr>
                        <td class="naranja col_1">
                            <h3>PRIOR.</h3>
                            <h4>2</h4>
                        </td>
                        <td class="col_2">
                            <h2>Pilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Tecnología</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Comentarios</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tabla">
                <table>
                    <tr>
                        <td class="amarillo col_1">
                            <h3>PRIOR.</h3>
                            <h4>3</h4>
                        </td>
                        <td class="col_2">
                            <h2>Pilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Tecnología</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Comentarios</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tabla">
                <table>
                    <tr>
                        <td class="verde col_1">
                            <h3>PRIOR.</h3>
                            <h4>4</h4>
                        </td>
                        <td class="col_2">
                            <h2>Pilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Tecnología</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Comentarios</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>





            <table>
                <tr>
                    <td height="40px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="foot small">
                        <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                    </td>

                    <td class="foot small">
                        <h6>
                            <span class="black">
                                <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                                Recomendaciones |
                            </span>
                            <span class="naranja">Industry Insights</span>
                        </h6>
                    </td>
                </tr>
            </table>



        </div>
    </div>

    <div class="hoja altura_carta">


        <div class="top_numeral">
            <div class="izk">
                <h1>Transformación Digital: Operaciones</h1>
                <h2>Proceso: Optimizar las operaciones</h2>
            </div>
            <div class="der">
                <h4>1</h4>
            </div>
        </div>




        <div class="content">
            <div class="tabla">
                <table>
                    <tr>
                        <td class="azul col_1">
                            <h3>PRIOR.</h3>
                            <h4>5</h4>
                        </td>
                        <td class="col_2">
                            <h2>Pilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat ultrices diam</p>
                            <h2>Tecnología</h2>
                            <p>Etiam eget mattis massa, ac ultricies quam. Vivamus tristique mauris ac sem faucibus, porta convallis mauris vehicula.</p>
                        </td>
                        <td class="col_3">
                            <h2>Comentarios</h2>
                            <p>Curabitur in mauris eleifend, eleifend massa quis, interdum est. Aliquam erat volutpat. Vestibulum vestibulum ipsum non lorem mollis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </td>
                    </tr>
                </table>
            </div>



            <table>
                <tr>
                    <td height="640px"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="foot small">
                        <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_small.png" width="208" height="60" class="logo_small" />
                    </td>

                    <td class="foot small">
                        <h6>
                            <span class="black">
                                <img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_icono_ii_recomendaciones.png" height="50" />

                                Recomendaciones |
                            </span>
                            <span class="naranja">Industry Insights</span>
                        </h6>
                    </td>
                </tr>
            </table>



        </div>
    </div>

    <!--==============Siguientes Pasos-->
    <div class="hoja altura_carta">
        <div class="foto_color rojo" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_color_rojo.jpg)">
            <h1>
                Siguientes<br />
                pasos
            </h1>
        </div>
        <div class="descriptivo">
            <h3>Prueba de concepto mobile</h3>
            <h3>Prueba de concepto IoT</h3>
        </div>

        <div class="foot medium">
            <p>Gracias por su tiempo y colaboración</p>
            <p><img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_medium.png" width="327" height="94" /></p>
        </div>
    </div>

    @*
    <!--==============Siguientes Pasos-->
    <div class="hoja altura_carta">
        <div class="foto_color rojo" style="background-image: url(@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foto_color_rojo.jpg)">
            <h1>
                Siguientes<br />
                pasos
            </h1>
        </div>
        <div class="descriptivo">
            <h3>Prueba de concepto mobile</h3>
            <h3>Prueba de concepto IoT</h3>
        </div>

        <div class="foot medium">
            <p>Gracias por su tiempo y colaboración</p>
            <p><img src="@ConfigHelper.GetSiteBasePath(@Model.TenantSubdomain)images/foot_logo_medium.png" width="327" height="94"></p>
        </div>
    </div>*@






</body>
</html>
