@model SOMSight.Models.Assessments.AssessmentGridVM<SOMSight.Models.Assessments.AssessmentTypeVM>
@using SOMSight.Utils.Helpers

<table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
    <thead class="cell-border" id="TH">
        <tr class="table-header">
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.TranslatorAdministratorTI)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.TranslatorAdministratorLandingText1TI)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.TranslatorAdministratorLandingText2TI)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.TranslatorAdministratorLandingText3TI)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.TranslatorAdministratorDescriptionTI)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Status)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>
                    <label>Basic</label>
                </label>
                               
            </th>
            <th class="text-center text-uppercase">
                <label>
                    <label>Advanced</label>
                </label>
                               
            </th>
            <th class="text-center text-uppercase">
                <label>
                    <label>Recommendations</label>
                </label>
                                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
        <tr data-itemid="@item.Id" class="table-item">
            <td>
                @item.TranslatorAdministratorTI
            </td>
            <td>
                @item.TranslatorAdministratorLandingText1TI
            </td>
            <td>
                @item.TranslatorAdministratorLandingText2TI
            </td>
            <td>
                @item.TranslatorAdministratorLandingText3TI
            </td>
            <td>
                @item.TranslatorAdministratorDescriptionTI
            </td>            
            <td class="text-center">
                @if (item.Status)
                {
                    <i class="glyphicon glyphicon-ok-sign"></i>
                }
                else
                {
                    <i class="glyphicon glyphicon-remove-sign"></i>
                }
            </td>
            <td class="text-center">
                <a title="View Basic Questions" href="@Url.Action("Index","AdminAssessmentQuestion")?idAssessmentType=@item.Id" class="btn btn-sm btn-default questiondetails"><i class="glyphicon glyphicon-open"></i></a>
                
            </td>
            <td class="text-center">
                <a title="View Advanced Questions" href="@Url.Action("Index","AdminAssessmentQuestionAdvance")?idAssessmentType=@item.Id" class="btn btn-sm btn-default questiondetails"><i class="glyphicon glyphicon-collapse-up"></i></a>
            </td>
            <td class="text-center">
                <a title="View Basic Recommendations" href="@Url.Action("Index","AdminAssessmentRecommendation")?idAssessmentType=@item.Id" class="btn btn-sm btn-default questiondetails"><i class="glyphicon glyphicon-hand-up"></i></a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-center text-nowrap" style="text-align:center;">
                @Html.NSPagination(Model.PageSettings)
            </td>
        </tr>
    </tfoot>
</table>

<script>

     $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTable').DataTable({
            "columnDefs": [
            { "width": "4%", "targets": 0 }
            ],
            "scrollY": ventana_alto,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#TH').resize(function () {

            table.columns.adjust();
        })


        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
     });

</script>