@model SOMSight.Models.Assessments.AssessmentTypeVM

@using (Ajax.BeginForm("Edit", "AdminAssessmentType", null,
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                InsertionMode = InsertionMode.Replace,
                                                OnSuccess = "OnSuccess",
                                                OnFailure = "OnFailure",
                                                OnBegin = "On_Begin",
                                                UpdateTargetId = "EditAssessmentType"
                                            },
                                            new
                                            {
                                                @id = "FormEditAssessmentType"
                                            }
                                        ))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">

        <h4 class="modal-title">Edit</h4>

    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorTI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorTI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorTI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorDescriptionTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorDescriptionTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorDescriptionTI" class="btn btn-sm btn-default ModalTextIdentifier "><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorDescriptionTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorDescriptionTI" class="btn btn-sm btn-default ClearModalTextIdentifier "><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorLandingText1TI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorLandingText1TI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorLandingText1TI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorLandingText1TI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorLandingText1TI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorLandingText1TI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorLandingText2TI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorLandingText2TI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorLandingText2TI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorLandingText2TI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorLandingText2TI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorLandingText2TI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorLandingText3TI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorLandingText3TI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorLandingText3TI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorLandingText3TI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorLandingText3TI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorLandingText3TI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @*<div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorModuleNameTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorModuleNameTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorModuleNameTI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorModuleNameTI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorModuleNameTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorModuleNameTI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorModuleDescriptionTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorModuleDescriptionTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorModuleDescriptionTI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorModuleDescriptionTI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorModuleDescriptionTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorModuleDescriptionTI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorModuleNameBasicTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorModuleNameBasicTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorModuleNameBasicTI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorModuleNameBasicTI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorModuleNameBasicTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorModuleNameBasicTI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TranslatorAdministratorModuleNameAdvancedTI, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.TranslatorAdministratorModuleNameAdvancedTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TranslatorAdministratorModuleNameAdvancedTI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a title="Edit Translation" href="#" data-textidentifier="TranslatorAdministratorModuleNameAdvancedTI" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="TranslatorAdministratorModuleNameAdvancedTI" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a title="Clean" href="#" data-textidentifier="TranslatorAdministratorModuleNameAdvancedTI" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @class = "checksize" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-3 col-md-offset-1">
                        <div class="form-group text-center">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @class = "form-control checksize" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            @Html.LabelFor(model => model.IsFree, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsFree, htmlAttributes: new { @class = "form-control checksize" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group text-center">
                            @Html.LabelFor(model => model.IsIndustryInsights, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsIndustryInsights, htmlAttributes: new { @class = "form-control checksize" })
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Edit" id="btnSaveEdit" name="cmd" class="btn btn-success" />
        </div>
    </div>

}