@model SOMSight.Models.Tenant.FilterTenantVM

@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared

@{
    bool showFilterAllTenant = Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE) || Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ROLE);
}
<div class="modal-header">

    <h4 class="modal-title">Filter Tenants</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "filterName" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TenantSubdomain)
                        @Html.TextBoxFor(m => m.TenantSubdomain, new { @class = "form-control", @id = "filterSubdomain" })
                        @Html.ValidationMessageFor(m => m.TenantSubdomain, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TenantContactName)
                        @Html.TextBoxFor(m => m.TenantContactName, new { @class = "form-control", @id = "filterContactName" })
                        @Html.ValidationMessageFor(m => m.TenantContactName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TenantContactEmail1)
                        @Html.TextBoxFor(m => m.TenantContactEmail1, new { @class = "form-control", @id = "filterContactEmail" })
                        @Html.ValidationMessageFor(m => m.TenantContactEmail1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        @if (showFilterAllTenant)
                        {
                            @Html.LabelFor(m => m.AllTenant, new { @style = "display: block;" })
                            @Html.CheckBoxFor(m => m.AllTenant, new { @class = "", @readonly = "true", @id = "filterAllTenant" })
                            @Html.ValidationMessageFor(m => m.AllTenant, "", new { @class = "text-danger" })
                        }

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="button" value="Clear Filter" id="btnClearFilter" name="cmd" class="btn btn-primary" data-dismiss="modal" />
        <input type="button" value="Filter" id="btnFilter" name="cmd" class="btn btn-success" data-dismiss="modal" />
    </div>
</div>




<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $("#filterCreatedDateInit")
        .datepicker({
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1,
          showButtonPanel: true,
          beforeShow: function (input) {
              setTimeout(function () {
                  var buttonPane = $(input)
                      .datepicker("widget")
                      .find(".ui-datepicker-buttonpane");

                  $("<button>", {
                      text: "Clear",
                      click: function () {
                          //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                          $.datepicker._clearDate(input);
                      }
                  }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
              }, 1);
          },
          onChangeMonthYear: function (year, month, instance) {
              setTimeout(function () {
                  var buttonPane = $(instance)
                      .datepicker("widget")
                      .find(".ui-datepicker-buttonpane");

                  $("<button>", {
                      text: "Clear",
                      click: function () {
                          //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                          $.datepicker._clearDate(instance.input);
                      }
                  }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
              }, 1);
          }
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $("#filterCreatedDateEnd").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        showButtonPanel: true,
        beforeShow: function (input) {
            setTimeout(function () {
                var buttonPane = $(input)
                    .datepicker("widget")
                    .find(".ui-datepicker-buttonpane");

                $("<button>", {
                    text: "Clear",
                    click: function () {
                        //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                        $.datepicker._clearDate(input);
                    }
                }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
            }, 1);
        },
        onChangeMonthYear: function (year, month, instance) {
            setTimeout(function () {
                var buttonPane = $(instance)
                    .datepicker("widget")
                    .find(".ui-datepicker-buttonpane");

                $("<button>", {
                    text: "Clear",
                    click: function () {
                        //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                        $.datepicker._clearDate(instance.input);
                    }
                }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
            }, 1);
        }
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>



