@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared

@{
    ViewBag.Title = "Tenant Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/tenantadmin/tenantadmin.js")"></script>
    <link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Plugins/toastr.min.js")"></script>
}

<label id="GridListCallBack" class="hidden">@Url.Action("GridListCallBack")</label>
<label id="NS_UrlActionSubmitFile" class="hidden">@Url.Action("UploadMainLogo")</label>
<label id="NS_UrlActionSubmitFileFavicon" class="hidden">@Url.Action("UploadFavicon")</label>
<label id="NS_UrlActionSubmitFileModule" class="hidden">@Url.Action("UploadModuleImage")</label>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li class="active">Tenant Administration</li>
</ol>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <span>
                    <a href="@Url.Action("Filter")" id="filterTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-glass"></i> Filter</a>
                </span>
                <span>
                    <a href="#" id="refreshTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                </span>
                @if (Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE))
                {
                    <span>
                        <a href="@Url.Action("Add")" id="add" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            Create
                        </a>
                    </span>
                }
                @if (!(Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ROLE)))
                {
                    <span>
                        <a href="@Url.Action("Edit")" id="editRecord" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                            Edit brand
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("UpdateTenantImages")" id="editImagesRecord" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-picture"></i>
                            Edit Images
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("UpdateModuleImages")" id="editImagesModule" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-picture"></i>
                            Edit Module Images
                        </a>
                    </span>
                }
            </div>
        </div>
    </div>
</div>

<div id="grid-div">
</div>


<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Create" class="modal-content">

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Edit" class="modal-content">

        </div>
    </div>
</div>



<div id="filterModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Filter" class="modal-content">

        </div>
    </div>
</div>


<!--upload images  -->
<input id="images-tenant-logo-1" type="file" name="browse" accept=".png" style="margin-bottom: 3px;" class="hidden">
<input id="images-tenant-favicon" type="file" name="browse" accept=".ico" style="margin-bottom: 3px;" class="hidden">

<input id="images-module-upload" type="file" name="browse" accept=".png" style="margin-bottom: 3px;" class="hidden">