@using SOMSight.Utils.Extensions
@using SOMSight.Utils

@model SOMSight.Models.PromotionalCode.PromotionalCodeSuccessAssignVM

@{ 
    var _user = Session.GetCurrentUser();
}

@using (Html.BeginForm("UpgradeSuccess", "Plan", FormMethod.Get, new { @id="frmActivatePromoCodeSuccess" }))
{
    <div class="row">
        <label>@TranslatorHelper.TranslateTextByIdentifier("the_promotional_code_was_activated")</label>
    </div>
    <div class="row">
        <label>@TranslatorHelper.TranslateTextByIdentifier("plan_text")</label>
        <input type="text" value="@Model.PlanName" readonly />
    </div>
    <div class="row">
        <label>@TranslatorHelper.TranslateTextByIdentifier("dureation_text")</label>
        <input type="text" value="@Model.NumberOfDays" readonly />
    </div>
    <div class="row last">
        <input style="background-color: @_user.TenantSkin.TenantStyleTertiaryBackgroundColor;color: @_user.TenantSkin.TenantStyleTertiaryFontColor;" type="submit" value="@TranslatorHelper.TranslateTextByIdentifier("Semaforo_Boton_Ok")" class="button rojo f_right" />
    </div>

}


