@using SOMSight.Utils.Extensions
@using SOMSight.Helpers
@using SOMSight.Utils
@using SOMSightModels.Payment
@model SOMSightPlanDefinitionDTO
@{
    ViewBag.Title = "ActivatePaypalPlan";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}


@{
    var _user = Session.GetCurrentUser();
    var userPlan = Session.GetFirstRangePriceByPlan();

}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/promotionalcodes/promocodes.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>
@if (Model.PlanRangeId == 0)
    {
    <script>
        var _selectedRange = '@userPlan.RangeId';
        var _somsightPlanId = '@userPlan.SOMSightPlanId';
        var _paymentTypeCycle = '@Convert.ToInt16(userPlan.PaymentTimeCycle)';
    </script>
}
else
{
    <script>
        var _selectedRange = '@Model.PlanRangeId';
        var _somsightPlanId = '@Model.PlanId';
        var _paymentTypeCycle = '@Convert.ToInt16(Model.PlanPaymentCycle)';
    </script>
}

<script>
    //TODO: REPARAR ESTA PARTE
    @*var _selectedPlan = '@_userFirsRangePriceByPlan.SelectedPlan';*@

   
    


    paypal.Button.render({

        env: '@ConfigHelper.GetPaypalJavaScriptEnvironment()', // sandbox | production

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        locale: 'en_US',

        style: {
            size: 'medium',
            color: 'blue'

        },

        onClick: function (actions) {
            gAnalytics.throwNormalEvent("Click Paypal button activate plan", "Paypal");
        },


        // payment() is called when the button is clicked
        payment: function () {



            //TODO: Change url to WebConfig
            // Set up a url on your server to create the payment
            //var CREATE_URL = '/Home/CreatePaymentLightBox/';
            var CREATE_URL = '@Url.Action("CreatePayment", "Paypal")';//'/Paypal/CreatePayment/';

            data = {
                SelectedSOMSightPlanId: _somsightPlanId,
                SelectedRangeId: _selectedRange,
                SelectedPaymentTypeCycleId: _paymentTypeCycle
            };

            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL, data)
                .then(function (data) {
                    //return data.paymentID;
                    return data.agreementID;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function (data, actions) {
            console.log(data);
            //TODO: Change url to WebConfig
            // Set up a url on your server to execute the payment
            //var EXECUTE_URL = '/Home/PaymentExcecute/';
            var EXECUTE_URL = '@Url.Action("PaymentExcecute", "Paypal")';//'/Paypal/PaymentExcecute/';

            // Set up the data you need to pass to your server
            var data = {
                //paymentID: data.paymentID,
                paymentID: data.paymentToken,
                payerID: data.payerID
            };

            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    console.log(res);
                    window.location.href = '@Url.Action("UpgradeSuccess", "Plan")';
                    //window.alert('Payment Complete!');
                });
        }

    }, '#paypal-button-container');
</script>
}


<label id="NS_PromoCodeModalUrl" hidden>@Url.Action("PromotionalCode", "Plan")</label>

<div id="titulo_general" class="container">
    <!--================================================-->
    <!--================================================-->
    <!--================================================-->
    <!--================================================-->
    <div class="centro">
        <!--================================================-->
        @*<a class="logo" target="_self"><img src="@Url.Content("~/images/logo.png")" width="300" height="84" alt=""></a>*@
        <!--<h1>Software Update General Form</h1>-->

        <h1 class="to_right titulo">
            <span class="texto">@TranslatorHelper.TranslateTextByIdentifier("confirmation_text")</span>
        </h1>


    </div>


</div>



<!--================================= PAGINA ======================================-->
<div id="pagina" class="gris sorry">

    <div class="seccion">
        <div class="centro">

            <p><img src="@Url.Content("~/images/icono_excelent - copia.png")" width="105" height="120" alt="excelent"></p>
            <h2>@TranslatorHelper.TranslateTextByIdentifier("GeneralText_Excellent")</h2>
            <h3>
                <span>
                    @{
                        ViewContext.Writer.Write(string.Format(TranslatorHelper.TranslateTextByIdentifier("you_hace_selected_plan_text"), Model.PlanName));
                    }
                </span>
            </h3>
            <h3>
                <span class="texto-promocode">
                    @{
                        ViewContext.Writer.Write(TranslatorHelper.TranslateTextByIdentifier("aditionaldescription_promocode"));
                    }

                </span>

            </h3>

            <p>@TranslatorHelper.TranslateTextByIdentifier("you_could_have_the_following_services_text")</p>

            <ul class="services">
                @foreach (var planDetail in Model.PlanDefinitionDetails) {
                    <li class="white"><div><span>@TranslatorHelper.TranslateTextByIdentifier(planDetail.DetailName)</span></div></li>
                }
                @*<li><div><span>Measure My Platform - Home</span></div></li>
            <li><div><span>Measure My Platform - Discovery</span></div></li>
            <li><div><span>Measure My Platform - Hardware Inventory</span></div></li>
            <li><div><span>Measure My Platform - Software Inventory</span></div></li>
            <li><div><span>Measure My Platform - SAM</span></div></li>
            <li><div><span>Basic assessments</span></div></li>
            <li><div><span>Support service</span></div></li>

            @if (userPlan.SOMSightPlanId == 2 || userPlan.SOMSightPlanId == 3 || userPlan.SOMSightPlanId == 4)
            {
                <li class="white"><div><span>Deliverables</span></div></li>
                <li class="white"><div><span>SAM Consultants</span></div></li>
            }


            @if (userPlan.SOMSightPlanId == 3 || userPlan.SOMSightPlanId == 4)
            {
                <li class="white"><div><span>Measure My Platform - Active directory</span></div></li>
                <li class="white"><div><span>Measure My Platform - Usage</span></div></li>
                <li class="white"><div><span>Cybersecurity Assessment (Advanced)</span></div></li>
                <li class="white"><div><span>Cloud Assessment (Advanced)</span></div></li>
                <li class="white"><div><span>Productivity Assessment (Advanced)</span></div></li>
            }


            @if (userPlan.SOMSightPlanId == 4)
            {
                <li class="white"><div><span>Service Delivery Manager</span></div></li>

            }*@
            </ul>



            <p>@TranslatorHelper.TranslateTextByIdentifier("continue_you_payment_text")</p>

            @if (_user.ShowUpgradeOption && ((Model.PlanRangeId == 0 && userPlan.Value != "0") || (Model.PlanRangeId != 0 && Model.PlanPrice != "0"))) {
                <div class="purchase_now" id="paypal-button-container">

                </div>
            }




            <!-- Promotional Code-->
            <div class="small-promotional-button">
                @Html.Partial("_promoCheckBox")
            </div>



        </div>

    </div>

</div>
<!--================================= PAGINA ======================================-->
<!-- MODALES-->
@Html.Partial("_promoModal")





