
@{
    ViewBag.Title = "Index";
}

<div class="titulo rojo">
    <div class="centro">
        <h1>Plans</h1>





    </div>
</div>




<!--================================= PLANS ======================================-->
<div class="container gris" id="plans">
    <div class="content">
        <table width="600" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td>Modules</td>
                    <td>
                        Free Trial
                        <span>(up to 10 devices)</span>
                    </td>
                    <td>Standard</td>
                    <td>Advanced</td>
                    <td>Corporate</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Home</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Discovery</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Hardware</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Software</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Active directory</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>SAM</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Usage</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Basic assesments</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Support service</td>
                    <td>
                        <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                        <span>Limited vía e-mail</span>
                    </td>
                    <td>
                        <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                        <span>5 x 8</span>
                    </td>
                    <td>
                        <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                        <span>7 x 8</span>
                    </td>
                    <td>
                        <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                        <span>7 x 24</span>
                    </td>
                </tr>



                <tr>
                    <td>Cybersecurity Assestment (Advanced)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Cloud Assestment (Advanced)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Productivity Assestment (Advanced)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Industry Insights</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                </tr>
                <tr>
                    <td>Deliverables</td>
                    <td>&nbsp;</td>
                    <td><span>Conclusion and Recommendation Reports</span></td>
                    <td><span>Conclusion and Recommendation Reports</span></td>
                    <td><span>Conclusion and Recommendation Reports</span></td>
                </tr>
                <tr>
                    <td>Sam Consultants (conclusion and recommendations)</td>
                    <td>&nbsp;</td>
                    <td><span>1 hour</span></td>
                    <td><span>2 hour</span></td>
                    <td><span>4 hour</span></td>
                </tr>
                <tr>
                    <td>Service Delivery Manager</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span>4 hour</span></td>
                </tr>
            </tbody>





            <thead class="down">
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Free Trial
                        <span>$0</span>
                        <div>

                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                <input type="hidden" name="business" value="info@emoticaweb.com">
                                <input type="hidden" name="lc" value="MX">
                                <input type="hidden" name="item_name" value="Prueba">
                                <input type="hidden" name="no_note" value="1">
                                <input type="hidden" name="src" value="1">
                                <input type="hidden" name="a3" value="100.00">
                                <input type="hidden" name="p3" value="1">
                                <input type="hidden" name="t3" value="M">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>

                        </div>
                    </td>

                    <td>
                        Standard
                        <span>$0</span>
                        <div>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                <input type="hidden" name="business" value="info@emoticaweb.com">
                                <input type="hidden" name="lc" value="MX">
                                <input type="hidden" name="item_name" value="Prueba">
                                <input type="hidden" name="no_note" value="1">
                                <input type="hidden" name="src" value="1">
                                <input type="hidden" name="a3" value="100.00">
                                <input type="hidden" name="p3" value="1">
                                <input type="hidden" name="t3" value="M">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </td>

                    <td>
                        Advanced
                        <span>$0</span>
                        <div>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                <input type="hidden" name="business" value="info@emoticaweb.com">
                                <input type="hidden" name="lc" value="MX">
                                <input type="hidden" name="item_name" value="Prueba">
                                <input type="hidden" name="no_note" value="1">
                                <input type="hidden" name="src" value="1">
                                <input type="hidden" name="a3" value="100.00">
                                <input type="hidden" name="p3" value="1">
                                <input type="hidden" name="t3" value="M">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </td>

                    <td>
                        Corporate
                        <span>$0</span>
                        <div>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                <input type="hidden" name="business" value="info@emoticaweb.com">
                                <input type="hidden" name="lc" value="MX">
                                <input type="hidden" name="item_name" value="Prueba">
                                <input type="hidden" name="no_note" value="1">
                                <input type="hidden" name="src" value="1">
                                <input type="hidden" name="a3" value="100.00">
                                <input type="hidden" name="p3" value="1">
                                <input type="hidden" name="t3" value="M">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>

    </div>
</div>
<!--================================= PLANS ======================================-->
