@using SOMSight.Utils
@using SOMSightModels.Payment
@model SOMSightPlanDefinitionDTO
@{
    ViewBag.Title = "UpgradeSuccess";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!--================================================-->
<!--================================================-->
<!--================================================-->
<!--================================================-->
<div class="container" id="titulo_general">
    <div class="centro">


        <h1 class="titulo">
            <span class="texto">@TranslatorHelper.TranslateTextByIdentifier("transaction_approved_text")</span>

        </h1>


    </div>


</div>
<!--================================= HEADER ======================================-->



<!--================================= PAGINA ======================================-->
<div id="pagina" class="gris sorry">

    <div class="seccion">
        <div class="centro">



            <p><img src="@Url.Content("~/images/icono_excelent - copia.png")" width="105" height="120" alt="excelent"></p>
            <h2>@TranslatorHelper.TranslateTextByIdentifier("Modal_General_Excellent")</h2>
            <h3>
                <span>
                    @{
                        ViewContext.Writer.Write(string.Format(TranslatorHelper.TranslateTextByIdentifier("now_you_are_in_the_plan_text"), Model.PlanName));
                    }
                    
                </span>
            </h3>
            <p>@TranslatorHelper.TranslateTextByIdentifier("you_have_the_following_services_text")</p>

            <ul class="services">
                @foreach (var planDetails in Model.PlanDefinitionDetails)
                {
                    <li class="white"><div><span>@TranslatorHelper.TranslateTextByIdentifier(planDetails.DetailName.Trim())</span></div></li>
                }
                @*<li><div><span>Measure My Platform - Home</span></div></li>
                <li><div><span>Measure My Platform - Discovery</span></div></li>
                <li><div><span>Measure My Platform - Hardware Inventory</span></div></li>
                <li><div><span>Measure My Platform - Software Inventory</span></div></li>
                <li><div><span>Measure My Platform - SAM</span></div></li>
                <li><div><span>Basic assessments</span></div></li>
                <li><div><span>Support service</span></div></li>

                @if (userPlan.Id == 2  || userPlan.Id == 3 || userPlan.Id == 4)
                {
                    <li class="white"><div><span>Deliverables</span></div></li>
                    <li class="white"><div><span>SAM Consultants</span></div></li>
                }


                @if (userPlan.Id == 3 || userPlan.Id == 4)
                {
                    <li class="white"><div><span>Measure My Platform - Active directory</span></div></li>
                    <li class="white"><div><span>Measure My Platform - Usage</span></div></li>
                    <li class="white"><div><span>Cybersecurity Assessment (Advanced)</span></div></li>
                    <li class="white"><div><span>Cloud Assessment (Advanced)</span></div></li>
                    <li class="white"><div><span>Productivity Assessment (Advanced)</span></div></li>
                }


                @if (userPlan.Id == 4)
                {
                    <li class="white"><div><span>Service Delivery Manager</span></div></li>
                    
                }*@
            </ul>



            <p>@TranslatorHelper.TranslateTextByIdentifier("This_information_was_sent_to_your_email_text")</p>


        </div>

    </div>

</div>
<!--================================= PAGINA ======================================-->


@section Scripts {
    <script>
        $(document).ready(function () {
            gAnalytics.throwNormalEvent("Ad User Plan Upgrade", "AdWords");
        });
    </script>
   
}