@model SOMSight.Models.PlansVM
@using SOMSight.Helpers
@using SOMSight.Utils
@using SOMSight.Utils.Extensions

@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    var user = Session.GetCurrentUser();
}

<style>
    #plans .purchase_now {
        background-image: none !important;
    }
</style>
<div class="container" id="titulo_general">
@if (!user.ShowUpgradeOption) { 
    
    <div class="centro">

        <!--================================================-->

        <h1 class="titulo ">
            

            <span class="texto">
                @TranslatorHelper.TranslateTextByIdentifier("contact_provider_upgrade_text")
                <br />
                <br />
                <span class="texto-contact">
                    @user.TenantContactEmail
                </span>
                <br />
                <span class="texto-contact">
                    @user.TenantContactTel1
                </span>

            </span>
        </h1>

        @*<div class="titulowelcome"><hr></div>*@

        
    </div>

    }
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/promotionalcodes/promocodes.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

<script>
    var _selectedRange = 1;
    var _paymentCycle = 1;
    $(document).ready(function () {



        LoadPrice(_paymentCycle, _selectedRange);

        $(document).on('change', '#PlanRange', function () {
            _selectedRange = $('option:selected').val();
            loadingDiv.show();
            LoadPrice(_paymentCycle, _selectedRange);
        });

        $(document).on('click', '#plans .purchase_now', function () {
            var selectedPlan = 0;
            selectedPlan = $(this).data('plan-id');
            loadingDiv.show();
            var redirectUrl = '@Url.Action("ActivatePaypalPlanUpgrade", "Plan")' + "?pSOMSightPlanId=" + selectedPlan + "&pPaymentTimeCycle=" + _paymentCycle + "&pPlanRange=" + _selectedRange;
                //alert(redirectUrl);
                gAnalytics.throwRedirectEvent("Click Paypal button upgrade", "Paypal", redirectUrl);
        });
    })



    function onChangePlanSelection(paymentCycle) {
        _paymentCycle = paymentCycle;
        LoadPrice(_paymentCycle, _selectedRange);
    }



    function LoadPrice(pPaymentTimeCycle, pPlanRange) {
        loadingDiv.show();
        $.ajax({
            url: "@Url.Action("LoadPlanInfo", "Plan")" + "?paymentTimeCicle=" + pPaymentTimeCycle + "&planRange=" + pPlanRange,
            type: 'GET',
            contentType: 'application/json; charset=utf-8'
        })
        .done(function (data) {
            var owl_01 = $(".owl-carousel");
            owl_01.trigger('destroy.owl.carousel');
            owl_01.find('.owl-stage-outer').children().unwrap();
            owl_01.removeClass("owl-center owl-loaded owl-text-select-on");
            //console.log(data);
            $('#plans-div').html(data);

            // check the year/month selection
            if (pPaymentTimeCycle == 1) {
                $('#month').prop('checked', true);
                $('#year').prop('checked', false);
            } else {
                $('#month').prop('checked', false);
                $('#year').prop('checked', true);
            }

            //Se the selected Opcion
            $('#PlanRange').val(pPlanRange)

            owl_01 = $(".owl-carousel");
            owl_01.owlCarousel({
                margin: 8,
                autoHeight: true,
                responsiveClass: true,
                loop: false,
                pagination: true,
                nav: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    760: {
                        items: 3,
                    }
                },

            });
            return false;

        })
        .fail(function (jqXHR, exception) {
            console.log(exception);
        })
        .always(function () {
            loadingDiv.hide();
        });
    }
</script>
}


<label id="NS_PromoCodeModalUrl" hidden>@Url.Action("PromotionalCode", "Plan")</label>



<!--================================= PAGINA ======================================-->
<div class="gris sin_borde container ">

    @*@if (user.ShowUpgradeOption)
    {
        <div id="plans-div">
            <div class="gris sin_borde">

            </div>
        </div>
    }*@
    

    <div id="pagina" style="min-height: 0px">

        @*<h3 class="centro">
            <span>
                @{
                    ViewContext.Writer.Write(TranslatorHelper.TranslateTextByIdentifier("aditionaldescription_promocode"));
                }
            </span>
        </h3>*@

        <div class="ns_upgrade_promo_code">
            <!-- Promotional code-->
            @Html.Partial("_promoCheckBox")


        </div>


    </div>
    
    <h1 class="newsoft_contact_us_h1">
        <span class="newsoft_contact_us_span mayusculainicial">@TranslatorHelper.TranslateTextByIdentifier("contact_us_text")</span>
    </h1>


    <ul class="newsoft_contact_us_ul">
        @if (!string.IsNullOrEmpty(@user.TenantContactEmail))
        {
            <li>
                <a href="mailto:@{@user.TenantContactEmail}" target="_self" class="email" style="background-image: url(../images/icono_email-negro.png);">@user.TenantContactEmail</a>
            </li>
    }

        @if (!string.IsNullOrEmpty(@user.TenantContactTel1))
        {
            <li>
                <a href="tel:@user.TenantContactTel1" target="_self" class="tel" style="background-image: url(../images/icono_email-negro.png);">@user.TenantContactTel1</a>
            </li>
        }

    </ul>



</div>



<!--================================= PAGINA ======================================-->
<!-- MODALES-->
@Html.Partial("_promoModal")
