@model SOMSight.Models.Languages.CreateLanguageVM
@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared

@using (Ajax.BeginForm("AddLanguage", "AdminLanguage", null,
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                InsertionMode = InsertionMode.Replace,
                                                OnSuccess = "OnSuccess",
                                                OnFailure = "OnFailure",
                                                OnBegin = "On_Begin",
                                                UpdateTargetId = "CreateLanguage"
                                            },
                                            new
                                            {
                                                @id = "FormAddLanguage"
                                            }
                                        ))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">

        <h4 class="modal-title">Create</h4>

    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    Language code is used to load the flag in user interface according to 
                    <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 Standard</a>
                    
                </div>
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CodeLanguage, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.EditorFor(model => model.CodeLanguage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CodeLanguage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Create" id="btnSave" name="cmd" class="btn btn-success" />
        </div>
    </div>

}