@*<script src="@Url.Content("~/Scripts/Custom/translator/translatorSummaryView.js")"></script>*@


@*@using (Html.BeginForm("ImportFile", "AdminTranslator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">

        <h4 class="modal-title">Message</h4>

    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                @Html.Hidden("pLanguageId", "");
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            Attach your excel file
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="file" name="someFile" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4> Tips</h4>
                    </div>
                    <div class="col-md-12 red">
                        <label>·The TextIdentifier always is required </label> <br />
                        <label>·The DefaultText field cannot be null when is a new record</label><br />
                        <label>·Description and Classification are optional</label><br />
                        <label>·If you don't fill 'Translation' field, you only affect the default text value</label><br />
                        <label>·The information must start on the line 2 (below headers)</label><br />
                        <label>·May only attach xlsx or xls file.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Create" id="btnSave" name="cmd" class="btn btn-success" />
        </div>
    </div>
}*@

<div class="modal-header">

    <h4 class="modal-title">Message</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            @Html.Hidden("pLanguageId", "",new {@id="languageId" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        Attach your excel file
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <input id="fileInput" type="file" name="someFile" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4> Tips</h4>
                </div>
                <div class="col-md-12 red">
                    <label>·The TextIdentifier always is required </label> <br />
                    <label>·The DefaultText field cannot be null when is a new record</label><br />
                    <label>·Description and Classification are optional</label><br />
                    <label>·If you don't fill 'Translation' field, you only affect the default text value</label><br />
                    <label>·The information must start on the line 2 (below headers)</label><br />
                    <label>·May only attach xlsx or xls file.</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="@Url.Action("ImportFile", "AdminTranslator")" id="btnSave" name="cmd" class="btn btn-success">Confirm</a>
    </div>
</div>