@using SOMSightModels.Translator;
@model IEnumerable<NS_tblTranslatorLanguageMongoDTO>
@{
    ViewBag.Title = "Admin Translator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/translator/translator.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/translator/translatorSummaryView.js")"></script>
}

@*<link rel="stylesheet" href="@Url.Content("~/Content/Kendo/Styles/kendo.common.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Kendo/Styles/kendo.default.min.css")" />
    <script src="@Url.Content("~/Content/Kendo/Scripts/kendo.all.min.js")"></script>*@

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" />
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>

<label id="GridListCallBack" class="hidden">@Url.Action("GridListCallBack")</label>
<label id="TextIdentifierOnLoad" class="hidden">@ViewBag.TextIdentifier</label>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li class="active">Translator</li>
</ol>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <span>
                    <a href="@Url.Action("Filter")" id="filterTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-glass"></i> Filter</a>
                </span>
                <span>
                    <a href="#" id="refreshTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                </span>
                <span>
                    <a href="@Url.Action("Add")" id="addTranslator" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Create
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("Edit")" id="editTranslation" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("ExportByLanguage")" id="ExportTranslation" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-import"></i>
                        Export
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("Import")" id="ImportTranslationConfirm" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-export"></i>
                        Import
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="grid-div">
</div>

<div id="createModal" class="modal fade createTranslationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="CreateTranslator" class="modal-content">

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Edit" class="modal-content">
        </div>
    </div>
</div>

<div id="filterModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Filter" class="modal-content">

        </div>
    </div>
</div>

<div id="TranslationsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div id="Translations" class="modal-content">

        </div>
    </div>
</div>

<div id="ImportTranslationsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div id="ImportTranslation" class="modal-content">

        </div>
    </div>
</div>


<div id="implementedLanguagesModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div id="Languages" class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Select Language for files translation</h4>

            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <select id="selectedLanguageId" class="form-control">
                                @foreach (var item in Model) {
                                    <option value="@item.CodeLanguage">@item.Language</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="button" value="Select" id="btnSelectLanguage" name="cmd" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
</div>
<style>
   #ImportTranslation > #accordionImport{
       display:block !important;
   }
</style>

<div class="panel-group" id="accordionImport" role="tablist" aria-multiselectable="true" style="display:none;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4>Summary</h4>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="row summarySuccessfully">
                        <div class="col-md-6">
                            <label>Confirm Import Translations:</label>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row summaryAlert">
                        <div class="col-md-6">
                            <label> Language Code: </label>
                        </div>
                        <div class="col-md-6 sizeSummaryCount">
                            <label id="labelLanguageCode">LanguageCode</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <label>Records with error will not be imported</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="width: 100%;overflow: scroll;height: 60vh">

                <table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
                    <thead class="cell-border" id="TH">
                        <tr class="table-header">
                            <th class="text-center text-uppercase">
                                <label>Row</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>TextIndentifier</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Default Text</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Description</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Classification</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Translation</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Action T. Admin</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Action Translation Lang</label>
                            </th>
                            <th class="text-center text-uppercase">
                                <label>Error</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyImportTranslation">
                        @*@foreach (var item in Model)
                        {
                            <tr data-textidentifier="@item.TextIdentifier" data-defaulttext="@item.DefaultText" data-description="@item.Description" data-classification="@item.Classification" data-translation="@item.Translation" data-error="@item.ErrorDescription" data-languagecode="@item.LanguageCode" class="table-item">
                                <td>
                                    @item.Fila
                                </td>

                                <td>
                                    @item.TextIdentifier
                                </td>
                                <td>
                                    @item.DefaultText
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Classification
                                </td>
                                <td>
                                    @item.Translation
                                </td>

                                <td>
                                    @item.ActionTranslatorAdministrator
                                </td>
                                <td>
                                    @item.ActionTranlationByLanguage
                                </td>
                                <td class="text-danger">
                                    @item.ErrorDescription
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>

            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="@Url.Action("ImportTranslationsConfirmed")" id="ConfirmImport" class="btn btn-success">Confirm</a>
        </div>
    </div>
</div>
