@using SOMSight.Utils
@using SOMSightModels.Shared
@using SOMSight.Utils.Extensions

@model SOMSight.Models.Assessments.AssessmentRecommendationFileVM

@{

    var _user = Session.GetCurrentUser();

    ViewBag.Title = "Basic Recommendations";
    ViewBag.Active = Model.AssessmentTypeId.ToString();
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}


<div class="container" id="titulo_general">
    <div class="centro">
        <h1 class="titulo">
            <span class="texto">
                @TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentClassTI)
                @TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)
            </span>
        </h1>
    </div>
</div>

<iframe src="@Url.Content("~/Content/pdf/"+ _user.Id.ToString() + "/" + Model.fileName)" width="85%" height="500" frameborder="0"></iframe>


<!--================================= CONTROLES ======================================-->
<div class="controles" style="background-color: @_user.TenantSkin.TenantStyleSecondaryBackgroundColor !important;">
    <div class="centro">
        <ul class="bloques centro">
            <li class="azul izk" style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor !important;">

                <a onclick="gAnalytics.throwRedirectEvent('Click Prev','Assestments','@TranslatorHelper.TranslateTextByIdentifier(Model.AssessmentTypeTranslatorTI)','@Url.Action("Index", Model.PreviousControllerName, new { @id = Model.AssessmentTypeId })')" href="#" class="prev_paso_3"><span style="color: @_user.TenantSkin.TenantStylePrimaryFontColor !important;">@TranslatorHelper.TranslateTextByIdentifier("prev_text")</span></a>
            </li>


        </ul>
    </div>
</div>
<!--================================= CONTROLES ======================================-->
