@using SOMSight.Utils.Extensions
@using SOMSight.Utils
@{ 
    var _user = @Session.GetDataWithOutLogin();
}

@model SOMSight.Models.TenantVM

<h2 class="mayusculainicial" style="color: @_user.TenantSkin.TenantStylePrimaryFontColor">@TranslatorHelper.TranslateTextByIdentifier("contact_us_text")</h2>
<hr style="border-color: @_user.TenantSkin.TenantStylePrimaryFontColor" />
<ul>
    @if (!string.IsNullOrEmpty(Model.TenantContactEmail1))
    {
        <li>
            <a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor; background-image: url('../images/icono_email@_user.TenantSkin.TenantStylePrimaryIconColor');" href="mailto:@Model.TenantContactEmail1" target="_self" class="email">@Model.TenantContactEmail1</a>
        </li>
    }
    

    @if (!string.IsNullOrEmpty(Model.TenantContactEmail2))
    {
        <li>
            <a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor; background-image: url('../images/icono_email@_user.TenantSkin.TenantStylePrimaryIconColor');" href="mailto:@Model.TenantContactEmail2" target="_self" class="email">@Model.TenantContactEmail2</a>
        </li>
    }
   
</ul>

<ul>
    @if (!string.IsNullOrEmpty(Model.TenantContactTel1))
    {
        <li><a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor; background-image: url('../images/icono_telefono@_user.TenantSkin.TenantStylePrimaryIconColor');" href="#" target="_self" class="tel">@Model.TenantContactTel1</a></li>
    }

   @if (!string.IsNullOrEmpty(Model.TenantContactTel2))
   {
    <li><a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor; background-image: url('../images/icono_telefono@_user.TenantSkin.TenantStylePrimaryIconColor');" href="#" target="_self" class="tel">@Model.TenantContactTel2</a></li>
   }
    
    @if (!string.IsNullOrEmpty(Model.TenantContactTel3))
    {
        <li><a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor; background-image: url('../images/icono_telefono@_user.TenantSkin.TenantStylePrimaryIconColor');" href="#" target="_self" class="tel">@Model.TenantContactTel3</a></li>
    }
</ul>