@model SOMSight.Models.Campaign.CampaignsGridVM
@using SOMSight.Utils.Helpers
@using SOMSightModels.Shared

<table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
    <thead class="cell-border" id="TH">
        <tr class="table-header">
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Tenant.Name)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Name)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.CreatedBy)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.CreatedDate)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.UpdatedBy)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.UpdatedDate)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Status)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.IsDefaultCampaign)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.DefaultPlanType)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.CampaingGuid)</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr data-itemid="@item.Id" class="table-item">
                <td>
                    @item.Tenant.Name
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CreatedBy
                </td>
                <td class="text-center">
                    @item.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.UpdatedBy
                </td>
                <td class="text-center">
                    @if (item.UpdatedDate != null) {
                        @item.UpdatedDate.Value.ToString("dd/MM/yyyy");
                    }

                </td>
                <td class="text-center">
                   @if (item.Status)
                   {
                    <i class="glyphicon glyphicon-ok-sign"></i>
                   }
                   else
                   {
                    <i class="glyphicon glyphicon-minus-sign"></i>
                   }
                </td>
                <td class="text-center">
                    @if (item.IsDefaultCampaign)
                    {
                        <i class="glyphicon glyphicon-ok-sign"></i>
                    }
                </td>
                <td>
                    @(item.DefaultPlanTypeId == null ? "": item.DefaultPlanType.PlanName)
                </td>
                <td>
                    @item.CampaingGuid
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="text-center text-nowrap" style="text-align:center;">
                @Html.NSPagination(Model.PageSettings)
            </td>
        </tr>
    </tfoot>
</table>

<script>

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTable').DataTable({
            "columnDefs": [
            
            ],
            "scrollY": ventana_alto,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#TH').resize(function () {

            table.columns.adjust();
        })


        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>
