@using SOMSight.Utils
@model SOMSight.Models.AssessmentViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.LogoUrl = Url.Action("Index", "Home");
}


@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/assessment/assessmentQuestions.js")"></script>
    <script type="text/javascript" src="~/Scripts/Custom/bootbox.js"></script>

    <script>
        var totalQuestions = @Model.TotalQuestion;
        var text = '@TranslatorHelper.TranslateTextById(@Model.AssessmentTypeTranslatorId, 2)';
        //assestmentId = assestmentId.toString();

        $(document).ready(function(){
            //gtag('event','Begin',{'event_category':'Assestments','event_label':text})
            gAnalytics.throwNormalEvent('Begin','Free Assestments',text)
        });
    </script>
}


@*<a href="~/Views/AssessmentQuestions/Index.cshtml">~/Views/AssessmentQuestions/Index.cshtml</a>*@

@*<div class="titulo azul">
    <div class="centro">
        <img src="@Url.Content("~/images/"+Model.IconName)" width="43" height="50">
        <h1>@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId)</h1>
        <p class="indice"><span id="answeredQuestions">@Model.AnsweredQuestions</span> of @Model.TotalQuestion</p>
    </div>
</div>*@

<div id="valla" style="background-image:url(@Url.Content("~/images/valla_choose_activity.jpg"))">
    <div class="opacity">
        <h1>@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId)</h1>
        <p class="indice"><span id="answeredQuestions">@Model.AnsweredQuestions</span> of @Model.TotalQuestion</p>
    </div>
</div>


<!--================================= PAGINA ======================================-->

@using (Html.BeginForm("SaveAssessmentInfo", Model.ControllerName, FormMethod.Post, new { id = "AssessmentQuestionsForm" }))
{

    @Html.Hidden("pQuestionAnswersModel.UserId", Model.UserId);
    @Html.Hidden("pQuestionAnswersModel.IsFinal", Model.IsFinal, new { @id = "pQuestionAnswersModelIsFinal" });
    @Html.Hidden("pQuestionAnswersModel.AssessmentSummaryId", Model.AssessmentSummaryId);
    @Html.Hidden("pQuestionAnswersModel.AssessmentTypeId", Model.AssessmentTypeId);
    <div id="pagina" class="formulario">
        <div class="seccion">
            @{
                //ViewBag.AssessmentTypeId = Model.AssessmentTypeId;
                ViewBag.AssessmentTypeId = TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId, 2);
                ViewBag.AssessmentFree = true;
                Html.RenderPartial("AssessmentQuestions/_AssessmentQuestionsDetail", Model.AssessmentQuestions);
            }
        </div>


            <!--================================= CONTROLES ======================================-->
            <div class="controles">
                <div class="centro">
                    <ul class="bloques centro">
                        @*<li class="azul izk">
                            <a onclick="gtag('event','Click Prev',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="@Url.Action("Index", Model.PreviousControllerName)" target="_self" class="prev_paso_3"><span>PREV</span></a>
                        </li>*@
                        @*@if (!Model.IsFinal)
                        {*@
                            @*<li class="azul">
                                <a onclick="gtag('event','Click Save Draft',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="#" target="_self" id="SendAssessmentDraft">
                                    <span>
                                        SAVE<br />
                                        DRAFT
                                    </span>
                                </a>
                            </li>*@
                            <li class="azul der end">
                                <a href="#" target="_self" id="SendAssessmentFinal"><span>END</span></a>
                                @*<a onclick="gtag('event','Click End',{'event_category':'Assestments','event_label':'@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)'});" href="#" target="_self" id="SendAssessmentFinal"><span>END</span></a>*@
                            </li>
                        @*  *@}

                    </ul>
                </div>
            </div>
            <!--================================= CONTROLES ======================================-->
        </div>
            
}

<div id="opacidad">
</div>
<div id="modalConfirm" class="NS_modal">

    <div class="titulo">
        <h2>Confirm</h2>
        <p class="cerrar">
        </p>
    </div>
    <div class="contenido">
        <h5>Are you sure you want to finish the assessment?</h5>
        @if (Model.ControllerName.ToUpper().StartsWith("FREE"))
        {
            <h5 style="text-align:center">*You must create a new account to see the complete assessment results</h5>
        }

    </div>
    <div class="footer">
        <button data-event-label="@TranslatorHelper.TranslateTextById(Model.AssessmentTypeTranslatorId,2)" class="ok-button" id="FreeSendAssessmentFinalOk">OK</button>	
        <button class="cancel-button">CANCEL</button>	
    </div>
</div>

<div id="modalNotCompleted" class="NS_modal">

    <div class="titulo">
        <h2>Incomplete Assessment</h2>
        <p class="cerrar">
        </p>
    </div>
    <div class="contenido">
        <h5>You must complete all questions</h5>
    </div>
    <div class="footer">
        <button class="ok-button">OK</button>
        @*<button class="cancel-button">CANCEL</button>*@
    </div>
</div>