
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/translator/translationclassification.js")"></script>
}

<label id="GridListCallBack" class="hidden">@Url.Action("GridListCallBack")</label>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li class="active">Admin Translation Classification</li>
</ol>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @*<span>
                        <a href="@Url.Action("Filter")" id="filterTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-glass"></i> Filter</a>
                    </span>*@
                <span>
                    <a href="#" id="refreshTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                </span>
                <span>
                    <a href="@Url.Action("Add")" id="addTranslatorClass" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Create
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("Edit")" id="editTranslation" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="grid-div">
</div>

<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="CreateTranslationClassification" class="modal-content">

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="Edit" class="modal-content">
        </div>
    </div>
</div>



