@model SOMSight.Models.FilterUserGridVM

@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared

@{
    bool showFilterAllTenant = Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE) || Session.GetCurrentRol().Equals(RolesDef.CONSULTANT_ROLE);
}

<div class="modal-header">

    <h4 class="modal-title">Filter Users</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "filterEmail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CompanyName)
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @id = "filterCompanyName" })
                        @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactName)
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @id = "filterContactName" })
                        @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactLastName)
                        @Html.TextBoxFor(m => m.ContactLastName, new { @class = "form-control", @id = "filterContactLastName" })
                        @Html.ValidationMessageFor(m => m.ContactLastName, "", new { @class = "text-danger" })
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CampaignId)
                        @Html.DropDownListFor(m => m.CampaignId, Model.CampaignList,"", new { @class = "form-control", @id = "filterCampaign" })
                        @Html.ValidationMessageFor(m => m.CampaignId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       @Html.Label(" ")
                        <div class="checkbox">
                            @Html.CheckBoxFor(x=>x.Client, new { @id = "filterIsClient"  }) Is Client
                            @*<input id="filterIsClient" type="checkbox"> Is Client*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                       @Html.LabelFor(m => m.RegisterOnInit)
                       @Html.TextBoxFor(m => m.RegisterOnInit, new { @class = "form-control", @id = "filterRegisterOnInit", @readonly = "true" })
                       @Html.ValidationMessageFor(m => m.RegisterOnInit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       @Html.LabelFor(m => m.RegisterOnEnd)
                       @Html.TextBoxFor(m => m.RegisterOnEnd, new { @class = "form-control", @id = "filterRegisterOnEnd", @readonly = "true" })
                       @Html.ValidationMessageFor(m => m.RegisterOnEnd, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.CreatedBy)
                        @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control", @id = "filterCreatedBy" })
                        @Html.ValidationMessageFor(m => m.CreatedBy, "", new { @class = "text-danger" })*@

                        @if (showFilterAllTenant)
                        {
                            @Html.LabelFor(m => m.AllTenant, new { @style = "display: block;" })
                            @Html.CheckBoxFor(m => m.AllTenant, new { @class = "", @readonly = "true", @id = "filterAllTenant" })
                            @Html.ValidationMessageFor(m => m.AllTenant, "", new { @class = "text-danger" })
                        }

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.UpdatedBy)
                        @Html.TextBoxFor(m => m.UpdatedBy, new { @class = "form-control", @id = "filterUpdatedBy" })
                        @Html.ValidationMessageFor(m => m.UpdatedBy, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="button" value="Clear Filter" id="btnClearFilter" name="cmd" class="btn btn-primary" data-dismiss="modal" />
        <input type="button" value="Filter" id="btnFilter" name="cmd" class="btn btn-success" data-dismiss="modal" />
    </div>
</div>




<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $("#filterRegisterOnInit")
        .datepicker({
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1,
          showButtonPanel: true,
          beforeShow: function (input) {
              setTimeout(function () {
                  var buttonPane = $(input)
                      .datepicker("widget")
                      .find(".ui-datepicker-buttonpane");

                  $("<button>", {
                      text: "Clear",
                      click: function () {
                          //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                          $.datepicker._clearDate(input);
                      }
                  }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
              }, 1);
          },
          onChangeMonthYear: function (year, month, instance) {
              setTimeout(function () {
                  var buttonPane = $(instance)
                      .datepicker("widget")
                      .find(".ui-datepicker-buttonpane");

                  $("<button>", {
                      text: "Clear",
                      click: function () {
                          //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                          $.datepicker._clearDate(instance.input);
                      }
                  }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
              }, 1);
          }
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $("#filterRegisterOnEnd").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        showButtonPanel: true,
        beforeShow: function (input) {
            setTimeout(function () {
                var buttonPane = $(input)
                    .datepicker("widget")
                    .find(".ui-datepicker-buttonpane");

                $("<button>", {
                    text: "Clear",
                    click: function () {
                        //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                        $.datepicker._clearDate(input);
                    }
                }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
            }, 1);
        },
        onChangeMonthYear: function (year, month, instance) {
            setTimeout(function () {
                var buttonPane = $(instance)
                    .datepicker("widget")
                    .find(".ui-datepicker-buttonpane");

                $("<button>", {
                    text: "Clear",
                    click: function () {
                        //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                        $.datepicker._clearDate(instance.input);
                    }
                }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
            }, 1);
        }
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>


