
@using SOMSight.Models
@using SOMSight.Utils
@using SOMSight.Utils.Helpers
@using SOMSightModels.Shared
@model IEnumerable<AssessmentGridViewModel>



<div class="modal-header">
    <h4 class="modal-title">User Assessments</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="table-responsive">


            <table id="gridTableUserAssessments" class="hover table-bordered stripe" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-header">
                        <th class="text-center text-uppercase">
                            <label>Assessment</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>Mode</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>Version</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>Status</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>Options</label>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-assessmentsumaryid="@item.AssessmentSummaryId">
                            <td>
                                @TranslatorHelper.TranslateTextById(item.AssessmentTypeTraslatorId)
                            </td>
                            <td>
                                <text>
                                    @AssessmentModeHelper.GetModeName(item.AssessmentMode)
                                </text>
                            </td>
                            <td class="text-center">
                                V @item.AssessmentVersion.0
                            </td>
                            <td class="text-center">
                                @if (item.DownloadPDF)
                                {
                                    <label>Done</label>
                                }
                                else if (item.IsInProgress)
                                {
                                    <label>In progress</label>
                                }
                                else
                                {
                                    <label>Available</label>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.DownloadPDF)
                                {
                                    <a href="@Url.Action("UnlockUserAssessment", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion, @pAssessmentMode = item.AssessmentMode })"
                                       data-reloadgridurl="@Url.Action("GridUserAssessmentsListCallBack")" class="btn btn-default" id="unlockAssessment">Unlock</a>

                                    if (!item.IsIndustryInsights)
                                    {
                                        <a href="@Url.Action("DownloadAssessmentRecommendation", "AdminAssessments", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion,@pAssessmentMode = item.AssessmentMode })"
                                           data-reloadgridurl="@Url.Action("GridUserAssessmentsListCallBack")" class="btn btn-default" id="">Download</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTableUserAssessments').DataTable({
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

    });
</script>
