@using SOMSight.Utils
@using SOMSight.Utils.Extensions

@model SOMSight.Models.Modularity.ModularityVM

@{
    var _user = @Session.GetCurrentUser();
}

@if (Model.ModulesDetail != null)
{
    foreach (var module in Model.ModulesDetail.OrderBy(x => x.Order))
    {
        <li>
            @if (module.IsAssessment)
            {
                <a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor;" href="@Url.Action(module.Action, module.Controller, new { @id = module.AssessmentId })" target="_self" class="@{ if (Model.ActiveTab == module.AssessmentId.ToString()) { ViewContext.Writer.Write("active"); } }">
                    @TranslatorHelper.TranslateTextByIdentifier(module.Description)
                </a>
            }
            else if (module.IsMeasureMyPlatform)
            {
                <a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor;" href="@Url.Action(module.Action, module.Controller, new { @id=module.MeasureMyPlatformClientId})" target="_self" class="@{ if(Model.ActiveTab == module.Description){ ViewContext.Writer.Write("active"); } }">
                    @TranslatorHelper.TranslateTextByIdentifier(module.Description)
                </a>
            }
            else
            {
                <a style="color: @_user.TenantSkin.TenantStylePrimaryFontColor;" href="@Url.Action(module.Action, module.Controller)" target="_self" class="@{ if(Model.ActiveTab == module.Description){ ViewContext.Writer.Write("active"); } }">
                    @TranslatorHelper.TranslateTextByIdentifier(module.Description)
                </a>
            }
        </li>
    }

}
