@model SOMSight.Models.Countries.EditCountryVM

@using (Ajax.BeginForm("Edit", "AdminCountries", null,
                                                                                            new AjaxOptions
                                                                                            {
                                                                                                HttpMethod = "POST",
                                                                                                InsertionMode = InsertionMode.Replace,
                                                                                                OnSuccess = "OnSuccess",
                                                                                                OnFailure = "OnFailure",
                                                                                                OnBegin = "On_Begin",
                                                                                                UpdateTargetId = "Edit"
                                                                                            },
                                                                                            new
                                                                                            {
                                                                                                @id = "FormEdit"
                                                                                            }
                                                                                        ))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">

        <h4 class="modal-title">Edit</h4>

    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RegionId, new { @class = "col-md-2 control-label" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.RegionId, Model.RegionList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RegionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Edit" id="btnEdit" name="cmd" class="btn btn-success" />
        </div>
    </div>

}
