@using SOMSight.Utils

@model SOMSight.Models.Company.AssessmentResultVM


<label id="NS_UrlActionSubmitFile" class="hidden">@Url.Action("SubmitFile")</label>
<label id="NS_ConfirmAssessmentRecommendation" class="hidden">@Url.Action("ConfirmAdvancedAssessmentRecommendation")</label>
<label id="NS_UnconfirmAssessmentRecommendation" class="hidden">@Url.Action("UnconfirmAdvancedAssessmentRecommendation")</label>
<label id="NS_UserId" class="hidden">@Model.UserId</label>


<div class="modal-header">
    <h4 class="modal-title">User Assessments</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="table-responsive">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li onclick="setInterval(function () { tableBasic.columns.adjust(); }, 25);" role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
                <li onclick="setInterval(function () { tableAdvanced.columns.adjust(); }, 25);" role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced</a></li>

            </ul>
            <div class="tab-content">
                <!-- Basico-->
                <div role="tabpanel" class="tab-pane active" id="basic">
                    <div id="gridBasic_div">
                        <table id="gridTableBasic" class="hover table-bordered stripe" cellspacing="0" width="100%">
                            <thead class="cell-border" id="THB">
                                <tr class="table-header">
                                    <th class="text-center text-uppercase">
                                        <label>Assessment</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Version</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Status</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Download</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Unlock</label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BasicAssessments)
                                {
                                    <tr data-itemid="" class="">
                                        <td class="text-center">
                                            @TranslatorHelper.TranslateTextByIdentifier(item.AssessmentTypeTraslatorTI)
                                        </td>
                                        <td class="text-center">
                                            V @item.AssessmentVersion.0
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {
                                                <label>Done</label>
                                            }
                                            else if (item.IsInProgress)
                                            {
                                                <label>In progress</label>
                                            }
                                            else
                                            {
                                                <label>Available</label>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {
                                                if (!item.IsIndustryInsights)
                                                {
                                                    <a href="@Url.Action("DownloadAssessmentRecommendation", "AdminAssessments", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion,@pAssessmentMode = item.AssessmentMode, @pLanguageId= Model.pLanguageId })" class="btn btn-default" id=""><i class="glyphicon glyphicon-download-alt"></i> Download</a>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {

                                                <a href="@Url.Action("UnlockUserAssessment", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion, @pAssessmentMode = item.AssessmentMode })"
                                                   data-reloadgridurl="@Url.Action("GridListAssessmentsCallBack")" class="btn btn-default" id="unlockAssessment">
                                                    <i class="glyphicon glyphicon-lock"></i> Unlock
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="advanced">
                    <div id="gridAdvanced_div">
                        <table id="gridTableAdvanced" class="hover table-bordered stripe" cellspacing="0" width="100%">
                            <thead class="cell-border" id="THA">
                                <tr class="table-header">
                                    <th class="text-center text-uppercase">
                                        <label>Assessment Name</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Version</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Status</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Download</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Unlock</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Recommendation State</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Confirm Recommendations</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Upload</label>
                                    </th>
                                    <th class="text-center text-uppercase">
                                        <label>Has upload file?</label>
                                    </th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model.AdvancedAssessments)
                                {
                                    <tr data-itemid="" class="">
                                        <td class="text-center">
                                            @TranslatorHelper.TranslateTextByIdentifier(item.AssessmentTypeTraslatorTI)
                                        </td>
                                        <td class="text-center">
                                            V @item.AssessmentVersion.0
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {
                                                <label>Done</label>
                                            }
                                            else if (item.IsInProgress)
                                            {
                                                <label>In progress</label>
                                            }
                                            else
                                            {
                                                <label>Available</label>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <span>
                                                @if (item.DownloadPDF)
                                                {
                                                    if (!item.IsIndustryInsights)
                                                    {
                                                        
                                                        <a href="@Url.Action("DownloadAssessmentRecommendation", "AdminAssessments", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion,@pAssessmentMode = item.AssessmentMode, @pLanguageId= Model.pLanguageId })" class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i> Download</a>
                                                    }
                                                }
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {
                                                <a href="@Url.Action("UnlockUserAssessment", new { @pUserId = item.UserId, @pAssessmentTypeId = item.AssessmentTypeId, @pAssessmentVersion = item.AssessmentVersion, @pAssessmentMode = item.AssessmentMode })"
                                                   data-reloadgridurl="@Url.Action("GridListAssessmentsCallBack")" class="btn btn-default" id="unlockAssessment"><i class="glyphicon glyphicon-lock"></i>Unlock</a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.DownloadPDF)
                                            {
                                                <span class="message-box">
                                                    <span class="confirmed @(!item.HasAdvancedRecommendations?"hidden":"")">Confirmed</span>
                                                    <span class="pending @(!item.HasAdvancedRecommendations?"":"hidden")">Pending</span>
                                                </span>

                                            }
                                        </td>
                                        <td class="text-center">
                                            <span id="assesment-confirm-div">
                                                @if (item.DownloadPDF)
                                                {
                                                    <a data-assessmenttypeid="@item.AssessmentTypeId" data-assessmentversion="@item.AssessmentVersion" href="#" class="btn btn-default assesment-unconfirm-button @(!item.HasAdvancedRecommendations?"hidden":"")"><i class="glyphicon glyphicon-unchecked"></i> Unconfirm</a>
                                                    <a data-hasuploadrecommendation="@((item.RecommendationsRoute != null && item.RecommendationsRoute.Length > 0) ?"True":"False")" data-assessmenttypeid="@item.AssessmentTypeId" data-assessmentversion="@item.AssessmentVersion" href="#" class="btn btn-default assesment-confirm-button @(!item.HasAdvancedRecommendations?"":"hidden")"><i class="glyphicon glyphicon-check"></i> Confirm</a>
                                                }
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span>
                                                <a data-assessmenttypeid="@item.AssessmentTypeId" data-assessmentversion="@item.AssessmentVersion" href="#" class="btn btn-default upload-assessment"><i class="glyphicon glyphicon-upload"></i> Upload</a>
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="file-recommendation-div">
                                                <i class="glyphicon glyphicon-ok-sign ok-icon @((item.RecommendationsRoute != null && item.RecommendationsRoute.Length > 0)?"":"hidden")"></i>
                                                <i class="glyphicon glyphicon-minus-sign not-icon @((item.RecommendationsRoute != null && item.RecommendationsRoute.Length > 0)?"hidden":"")"></i>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default assessment-grid-modal-dismiss" data-dismiss="modal">Cancel</button>
    </div>
</div>

<input id="images-productid" type="file" name="browse" accept=".pdf" style="margin-bottom: 3px;" class="hidden">



<script src="@Url.Content("~/Scripts/Custom/company/uploadFileScript.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/company/assessmentScript.js")"></script>
<script>
    var tableBasic;
    var tableAdvanced;

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        tableBasic = $('#gridTableBasic').DataTable({
            "columnDefs": [
            { "width": "30%", "targets": 0 }
            ],
            "scrollY": ventana_alto,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#THB').resize(function () {
            tableBasic.columns.adjust();
        })

        var ventana_alto_advanced = $(window).innerHeight();
        ventana_alto_advanced = (ventana_alto_advanced > 900) ? (ventana_alto_advanced / 1.8) : (ventana_alto_advanced / 3);
        tableAdvanced = $('#gridTableAdvanced').DataTable({
            "columnDefs": [
            { "width": "20%", "targets": 0 }
            ],
            "scrollY": ventana_alto_advanced,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#THA').resize(function () {
            tableAdvanced.columns.adjust();
        })



        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>
