
@model SOMSight.Models.Plans.SOMSightPlansGridVM
@using SOMSight.Utils.Helpers

<table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
    <thead class="cell-border" id="TH">
        <tr class="table-header">
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Tenant.Name)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.PlanName)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.MarkAsStar)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.IsDefault)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.IsHighestPlan)</label>
            </th>
            <th class="text-center text-uppercase">
                <label>@Html.LabelFor(x => x.Columns.Visible)</label>
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr data-itemid="@item.Id" class="table-item">
                <td>
                    @item.Tenant.Name
                </td>
                <td>
                    @item.PlanName
                </td>
                <td>
                    @item.MarkAsStar
                </td>
                <td>
                    @item.IsDefault
                </td>
                <td>
                    @item.IsHighestPlan
                </td>
                <td>
                    @item.Visible
                </td>
            </tr>
        }
    </tbody>
    @*<tfoot>
        <tr>
            <td colspan="4" class="text-center text-nowrap" style="text-align:center;">
                @Html.NSPagination(Model.PageSettings)
            </td>
        </tr>
    </tfoot>*@
</table>

<script>

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTable').DataTable({
            "columnDefs": [

            ],
            "scrollY": ventana_alto,
            "scrollX": true,
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

        $('#TH').resize(function () {

            table.columns.adjust();
        })


        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>
