@model SOMSight.Models.Modularity.EditSubModularityViewModel
@using SOMSight.Utils
@using SOMSightModels
@using SOMSightModels.Users
@{

    ViewBag.Title = "Edit Submodularity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<link href='@Url.Content("~/Content/admin/acordeon.css")' rel="stylesheet" />*@

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li><a href="@Url.Action("Index","Modularity")">Manage modularity</a></li>
    <li><a href="@Url.Action("EditModule", new {pModuleID = Model.ModuleID })">@TranslatorHelper.TranslateTextByIdentifier(Model.ModuleName) Module</a></li>
    <li class="active">Editing @TranslatorHelper.TranslateTextByIdentifier(Model.ModuleName) Submodules</li>
</ol>

<label id="NS_ModuleID" hidden>@Model.ModuleID</label>
<label id="NS_HomeContraintURL" hidden>@Url.Action("Index", "Modularity")</label>


<div class="pagina">
    <div class="acordeon-container">
        <div style="color: #555555;" class="title-container">
            <label class="acordeon-titulo">@TranslatorHelper.TranslateTextByIdentifier(Model.ModuleName) Submodules</label>

        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.DefaultSubModuleId, new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(m => m.DefaultSubModuleId, Model.DefaultSubModuleSelectList, "-Select-", new { @class = "form-control" })
        </div>


        <div class="zones-container">
            <!-- PLANES-->
            <div class="zone-container">
                <div class="head-container">
                    <label for="region-checkbox">Plan</label>
                </div>

                <div id="body-plan-container" class="body-container">
                    <div class="center-div" style="vertical-align: top;">
                        <h4>Available Plans</h4>
                        <select multiple>
                            @foreach (PlanDTO aux in Model.AvailablePlanList)
                            {
                                <option value="@aux.Id">@aux.Descripcion</option>
                            }
                        </select>

                        @Html.DropDownListFor(m => m.DefaultSubModuleId, Model.DefaultSubModuleSelectList, "-Select-", new { @class = "form-control submodule-select",@id=""})
                        <span class="add-all btn btn-default" data-orientation="right">Add all &#187;</span>
                        <span class="add-selected btn btn-default" data-orientation="right">Add selected &#187;</span>

                    </div>

                    @foreach (var _submodule in Model.SubModuleList)
                    {
                        <div data-submoduleid="@_submodule.SubModuleId">
                            <h4>@TranslatorHelper.TranslateTextByIdentifier(_submodule.TraslatorAdministrator_NameTextIdent)</h4>
                            <select multiple>
                                @foreach (SubModuleConstraintDTO aux in Model.SubModulePlanData.FirstOrDefault(x=>x.SubModuleID == _submodule.SubModuleId).SubModuleConstraint)
                                {
                                    <option value="@aux.Value">@aux.Text</option>
                                }
                            </select>
                            <span class="remove-selected btn btn-default" data-orientation="center">&#171; Remove selected</span>
                            <span class="remove-all btn btn-default" data-orientation="center">&#171; Remove all</span>
                        </div>
                    }

                </div>
            </div>

            <!-- PAISES-->
            <div class="zone-container">
                <div class="head-container">
                    <label for="region-checkbox">Country</label>
                </div>

                <div id="body-country-container" class="body-container">
                    <div class="center-div" style="vertical-align: top;">
                        <h4>Available Countries</h4>
                        <select multiple>
                            @foreach (CountryDTO aux in Model.AvailableCountryList)
                            {
                                <option value="@aux.Id">@aux.CountryName</option>
                            }
                        </select>

                        @Html.DropDownListFor(m => m.DefaultSubModuleId, Model.DefaultSubModuleSelectList, "-Select-", new { @class = "form-control submodule-select", @id = "" })
                        <span class="add-all btn btn-default" data-orientation="right">Add all &#187;</span>
                        <span class="add-selected btn btn-default" data-orientation="right">Add selected &#187;</span>

                    </div>

                    @foreach (var _submodule in Model.SubModuleList)
                    {
                        <div data-submoduleid="@_submodule.SubModuleId">
                            <h4>@TranslatorHelper.TranslateTextByIdentifier(_submodule.TraslatorAdministrator_NameTextIdent)</h4>
                            <select multiple>
                                @foreach (SubModuleConstraintDTO aux in Model.SubModuleCountryData.FirstOrDefault(x => x.SubModuleID == _submodule.SubModuleId).SubModuleConstraint)
                                {
                                    <option value="@aux.Value">@aux.Text</option>
                                }
                            </select>
                            <span class="remove-selected btn btn-default" data-orientation="center">&#171; Remove selected</span>
                            <span class="remove-all btn btn-default" data-orientation="center">&#171; Remove all</span>
                        </div>
                    }

                </div>
            </div>

            <!-- CAMPAIGNS-->
            <div class="zone-container">
                <div class="head-container">
                    <label for="region-checkbox">Campaign</label>
                </div>

                <div id="body-campaign-container" class="body-container">
                    <div class="center-div" style="vertical-align: top;">
                        <h4>Available Campaigns</h4>
                        <select multiple>
                            @foreach (CampaignDTO aux in Model.AvailableCampaignList)
                            {
                                <option value="@aux.Id">@aux.Name</option>
                            }
                        </select>

                        @Html.DropDownListFor(m => m.DefaultSubModuleId, Model.DefaultSubModuleSelectList, "-Select-", new { @class = "form-control submodule-select", @id = "" })
                        <span class="add-all btn btn-default" data-orientation="right">Add all &#187;</span>
                        <span class="add-selected btn btn-default" data-orientation="right">Add selected &#187;</span>

                    </div>

                    @foreach (var _submodule in Model.SubModuleList)
                    {
                        <div data-submoduleid="@_submodule.SubModuleId">
                            <h4>@TranslatorHelper.TranslateTextByIdentifier(_submodule.TraslatorAdministrator_NameTextIdent)</h4>
                            <select multiple>
                                @foreach (SubModuleConstraintDTO aux in Model.SubModuleCampaignData.FirstOrDefault(x => x.SubModuleID == _submodule.SubModuleId).SubModuleConstraint)
                                {
                                    <option value="@aux.Value">@aux.Text</option>
                                }
                            </select>
                            <span class="remove-selected btn btn-default" data-orientation="center">&#171; Remove selected</span>
                            <span class="remove-all btn btn-default" data-orientation="center">&#171; Remove all</span>
                        </div>
                    }

                </div>
            </div>

            <!-- USERS -->
            <div class="zone-container">
                <div class="head-container">
                    <label for="region-checkbox">User</label>
                </div>

                <div id="body-user-container" class="body-container">
                    <div class="center-div" style="vertical-align: top;">
                        <h4>Available Users</h4>
                        <select multiple>
                            @foreach (User aux in Model.AvailableUserList)
                            {
                                <option value="@aux.Id">@aux.Email</option>
                            }
                        </select>

                        @Html.DropDownListFor(m => m.DefaultSubModuleId, Model.DefaultSubModuleSelectList, "-Select-", new { @class = "form-control submodule-select", @id = "" })
                        <span class="add-all btn btn-default" data-orientation="right">Add all &#187;</span>
                        <span class="add-selected btn btn-default" data-orientation="right">Add selected &#187;</span>

                    </div>

                    @foreach (var _submodule in Model.SubModuleList)
                    {
                        <div data-submoduleid="@_submodule.SubModuleId">
                            <h4>@TranslatorHelper.TranslateTextByIdentifier(_submodule.TraslatorAdministrator_NameTextIdent)</h4>
                            <select multiple>
                                @foreach (SubModuleConstraintDTO aux in Model.SubModuleUserData.FirstOrDefault(x => x.SubModuleID == _submodule.SubModuleId).SubModuleConstraint)
                                {
                                    <option value="@aux.Value">@aux.Text</option>
                                }
                            </select>
                            <span class="remove-selected btn btn-default" data-orientation="center">&#171; Remove selected</span>
                            <span class="remove-all btn btn-default" data-orientation="center">&#171; Remove all</span>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <hr />
    <a class="btn btn-primary" onclick="saveForm()">Save</a>
    <a class="btn btn-danger" onclick="cancelForm()">Cancel</a>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/modularity/ManageSubModularity.js")"></script>
    @Html.Partial("_Semaphore")

}
