@model SOMSight.Models.Assessments.AssessmentQuestionsVM
@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared
@{
    ViewBag.Title = "Admin assessment question advance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/assessment/assessmentQuestionsAdvance.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/translator/translatorGeneric.js")"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />


<label id="GridListCallBack" class="hidden">@Url.Action("GridListCallBack")</label>
<label id="NS_UrlTranslation" class="hidden">@Url.Action("Index", "AdminTranslator")</label>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li><a href="@Url.Action("Index","AdminAssessmentType")">AssessmentType</a></li>
    <li class="active">Assessment Question Advance</li>
</ol>

<label id="TextIdenfitiferAction" class="hidden">@Url.Action("TextIdentifierCharge")</label>
<label id="idAssessmentType" class="hidden">@Model.Id</label>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @*<span>
                        <a href="@Url.Action("Filter")" id="filterTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-glass"></i> Filter</a>
                    </span>*@
                @*<span>
                    <a href="#" id="refreshTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                </span>*@

                <span>
                    <a href="@Url.Action("AddAssessmentQuestion")" id="addAssessmentQuestion" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Create
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("Edit")" id="editRecordAssessmentQuestion" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                </span>
                @*@if (Session.GetCurrentRol().Equals(RolesDef.ADMINISTRATOR_ROLE))
                {
                    <span>
                        <a href="@Url.Action("DeleteAssessmentQuestionConfirm")" id="deleteAssessmentQuestionConfirm" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                            Remove
                        </a>
                    </span>
                }*@

            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <label class="control-label">Assessment Type </label> - @Model.TranslatorAdministratorText
</div>

<div id="grid-div">
</div>

<div id="createModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="CreateAssessmentQuestion" class="modal-content">

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="EditAssessmentQuestion" class="modal-content">

        </div>
    </div>
</div>

<div id="removeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="RemoveAssessmentType" class="modal-content">

        </div>
    </div>
</div>

<div id="addNewOptionModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="addOptionModal" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new option</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Translator Text Identifier*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" data-menssagerequired="The option must have a text identifier" id="txtAddNewOptionTextIdentifier" class="form-control newoption" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a href="#" data-textidentifier="txtAddNewOptionTextIdentifier" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                
                                <a title="View Translations" href="#" data-textidentifier="txtAddNewOptionTextIdentifier" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Recommend*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" data-menssagerequired="The option must have a text identifier" id="txtAddNewRecommendTextIdentifier" class="form-control newoption" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a href="#" data-textidentifier="txtAddNewRecommendTextIdentifier" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="txtAddNewRecommendTextIdentifier" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Maturity level*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" data-menssagerequired="Cannot add this option, because the Madurity level its was registered" 
data-validation="Maturity Level is required" id="txtAddNewOptionMaturity"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="txtAddNewOptionDescription" class="form-control searchBox newoption" name="name" placeholder="Description" value="" />
                            </div>
                        </div>
                    </div>
                    <div id="messageMadurity" class="row alert-danger">
                    </div>
                </div>
            </div>

            <div class="modal-footer " id="addnewoptiondiv">
                <div class="form-group">
                    <button type="button" id="btncloseNewOption" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="button" value="Add" id="btnSaveNewOption" name="cmd" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit option-->
<div id="editOptionModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="editOptionModal" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit option</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <input type="hidden" id="txtEditOptionMaturityOriginal" value="" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Translator Text Identifier*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" data-menssagerequired="The option must have a text identifier" id="txtEditOptionTextIdentifier" class="form-control newoption" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a href="#" data-textidentifier="txtEditOptionTextIdentifier" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="txtEditOptionTextIdentifier" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Recommend*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" data-menssagerequired="The option must have a text identifier" id="txtEditRecommendTextIdentifier" class="form-control newoption" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a href="#" data-textidentifier="txtEditRecommendTextIdentifier" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a title="View Translations" href="#" data-textidentifier="txtEditRecommendTextIdentifier" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Maturity level*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" data-menssagerequired="Cannot add this option, because the Madurity level its was registered" id="txtEditOptionMaturity"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="txtEditOptionDescription" class="form-control searchBox newoption" name="name" placeholder="Description" value="" />
                            </div>
                        </div>
                    </div>
                    <div id="messageMadurityEdit" class="row alert-danger">
                    </div>
                </div>
            </div>

            <div class="modal-footer " id="addnewoptiondiv">
                <div class="form-group">
                    <button type="button" id="btncloseEditOption" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="button" value="Edit" id="btnSaveEditOption"  name="cmd" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>


<div id="searchTextIdentifierModal" class="modal fade createTranslationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="TextIdentifierModal" class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Search Text Identifier</h4>
            </div>

            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Add", "AdminTranslator")" id="addTranslator" class="btn btn-sm btn-default">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Create New
                            </a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtTextIdentifier" class="form-control searchBox" name="name" placeholder="Text Identifier" value="" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtDefaultText" class="form-control searchBox" name="name" placeholder="Default Text" value="" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtDescripcion" class="form-control searchBox" name="name" placeholder="Description" value="" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <table id="griTextIdentifier" class="hover table-bordered stripe" cellspacing="0" width="100%">
                                <thead class="cell-border" id="TH">
                                    <tr class="table-header">
                                        <th class="text-center text-uppercase">
                                            <label>Text Identifier</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Default Text</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Description</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Classification</label>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" id="btnclose" class="btn btn-default modalTclose">Cancel</button>
                    <input type="button" value="Add" id="btnSave" name="cmd" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createTranslationModal" class="modal fade createTranslationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="CreateTranslator" class="modal-content">

        </div>
    </div>
</div>
