@using SOMSightModels.Shared;
@using SOMSight.Models.Plans;

@model SOMSight.Models.Plans.IndexSOMSightPlanViewModel

@{
    ViewBag.Title = "Manage Plan Modularity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<label id="NS_SortModuleURL" hidden>@Url.Action("SortOfferedModule", "AdminPlansModularity")</label>
<label id="NS_UseAsTemplateURL" hidden>@Url.Action("UseModuleAsTemplate", "Modularity")</label>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "AdminHome")">Home</a></li>
    <li class="active">Manage plan modularity</li>
</ol>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <span>
                    <a id="modyfy-button" class="btn btn-default" onclick="toggleOrder()">Turn on modify order <i class="glyphicon glyphicon-sort"></i></a>
                </span>
                <span>
                    <a href="@Url.Action("AddOfferedMOdule")" id="addOfferedModule" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Create
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

@{
    SOMSightPlanVM _checkedRadioStarred = null;
    SOMSightPlanVM _checkedRadioHighest = null;
}

@if (Model.SOMSightPlanList != null && Model.SOMSightPlanList.Count > 0)
{
    _checkedRadioStarred = Model.SOMSightPlanList.Where(x => x.MarkAsStar).FirstOrDefault();
    _checkedRadioHighest = Model.SOMSightPlanList.Where(x => x.IsHighestPlan).FirstOrDefault();

    using (Html.BeginForm("SavePlanDetails", "AdminPlansModularity", FormMethod.Post, new  { @onsubmit="checkForm(event)"}))
    {

        <table id="gridTable" class="hover table-bordered stripe" cellspacing="0" width="100%">
            <thead class="cell-border" id="TH">
                <tr class="table-header">
                    <th class="text-center text-uppercase">
                        <label>Offered Module Name</label>
                    </th>

                    @for (var i = 0; i < Model.SOMSightPlanList.Count; i++)
                    {
                        <th class="text-center text-uppercase">
                            @Html.ValidationMessageFor(model => Model.SOMSightPlanList[i].Name, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => Model.SOMSightPlanList[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => Model.SOMSightPlanList[i].Id)

                            @if (Model.SOMSightPlanList[i].IsHighestPlan)
                            {
                                <input type="radio" id="HighestPlan_@Model.SOMSightPlanList[i].Id" name="HighestPlan" value="@Model.SOMSightPlanList[i].Id" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" id="HighestPlan_@Model.SOMSightPlanList[i].Id" name="HighestPlan" value="@Model.SOMSightPlanList[i].Id" />
                            }
                            Highest Plan
                            <br />
                            @if (Model.SOMSightPlanList[i].MarkAsStar)
                            {
                                <input type="radio" id="StarredPlan_@Model.SOMSightPlanList[i].Id" name="StarredPlan" value="@Model.SOMSightPlanList[i].Id" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" id="StarredPlan_@Model.SOMSightPlanList[i].Id" name="StarredPlan" value="@Model.SOMSightPlanList[i].Id" />
                            }
                            Mark as Starred


                        </th>
                    }

                    <th class="text-center text-uppercase">
                        <label>Delete</label>
                    </th>

                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.SOMSightPlanModularityList.Count; i++)
                {
                    <tr data-moduleid="@Model.SOMSightPlanModularityList[i].Id" class="table-item">

                        <td class="text-center" style="width:40% !important;">
                            @if (Model.SOMSightPlanModularityList[i].IsSystemModule)
                            {
                                @Model.SOMSightPlanModularityList[i].OfferedModuleName
                            }
                            else
                            {
                                @Html.EditorFor(model => Model.SOMSightPlanModularityList[i].OfferedModuleName, new { htmlAttributes = new { @class = "form-control" } })
                            }
                            @Html.HiddenFor(m => Model.SOMSightPlanModularityList[i].Id)
                            @Html.HiddenFor(m => Model.SOMSightPlanModularityList[i].IsSystemModule)
                            @Html.HiddenFor(m => Model.SOMSightPlanModularityList[i].VisibilityMode)
                        </td>


                        @for (var j = 0; j < Model.SOMSightPlanModularityList[i].ContraintsList.Count; j++)
                        {
                            <td class="text-center">
                                @Html.HiddenFor(model => Model.SOMSightPlanModularityList[i].ContraintsList[j].PlanId)
                                @if (!Model.SOMSightPlanModularityList[i].IsSystemModule)
                                {

                                    switch (Model.SOMSightPlanModularityList[i].VisibilityMode.Value)
                                    {
                                        case RealLifeModuleVisibilityMode.CheckBoxOption:
                                                @Html.DropDownListFor(m => Model.SOMSightPlanModularityList[i].ContraintsList[j].Value,
     Enum.GetValues(typeof(RealLifeModuleValueVisibilityMode)).Cast<RealLifeModuleValueVisibilityMode>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString(), Selected = x.ToString().Equals(Model.SOMSightPlanModularityList[i].ContraintsList[j].Value.ToString()) }), "-- Select an option --", new { @class = "form-control selector" });
                                                
                                            break;

                                        case RealLifeModuleVisibilityMode.TextOption:
                                            @Html.TextBoxFor(model => Model.SOMSightPlanModularityList[i].ContraintsList[j].Value, new { @class = "form-control" })
                                            break;
                                    }

                                }
                                else
                                {
                                    if (Model.SOMSightPlanModularityList[i].IsMeasureMyPlatform)
                                    {
                                        @Html.DropDownListFor(m => Model.SOMSightPlanModularityList[i].ContraintsList[j].Value,
     Enum.GetValues(typeof(RealLifeModuleValueVisibilityMode)).Cast<RealLifeModuleValueVisibilityMode>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString(), Selected = x.ToString().Equals(Model.SOMSightPlanModularityList[i].ContraintsList[j].Value.ToString()) }), "-- Select an option --", new { @class = "form-control selector" });
                                    }
                                    else
                                    {

                                        @Html.DropDownListFor(m => Model.SOMSightPlanModularityList[i].ContraintsList[j].Value,
     Enum.GetValues(typeof(SystemModuleValueVisibilityMode)).Cast<SystemModuleValueVisibilityMode>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString(), Selected = x.ToString().Equals(Model.SOMSightPlanModularityList[i].ContraintsList[j].Value.ToString()) }), "-- Select an option --", new { @class = "form-control selector" });

                                }
                            }
                            </td>
                        }


                        <td class="text-center">
                            @if (!Model.SOMSightPlanModularityList[i].IsSystemModule)
                            {
                                <a class="btn btn-default deleteOfferModule" href="@Url.Action("DeleteOfferModuleConfirm", new {Id = Model.SOMSightPlanModularityList[i].Id })">
                                    Delete
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            }

                        </td>

                    </tr>

                }
            </tbody>
            @{
                var _plansCount = Model.SOMSightPlanList.Count + 2;
            }

            <tfoot>
                <tr>
                    <td colspan="@_plansCount" class="text-center text-nowrap" style="text-align:center;"></td>
                </tr>

            </tfoot>

        </table>


        <div id="Savebutton-div">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>


        <div id="button-div" style="display:none;margin-top:10px;">

            <a class="btn btn-primary" onclick="saveOrder()">Save order</a>
            <a class="btn btn-danger" onclick="cancelOption()">Cancel</a>
        </div>
                    }
                }
                else
                {
                    <div class="mensaje_alerta" style="display:block">
                        <p>There are not created plans.</p>
                    </div>
                }



<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="CreateOfferedModule" class="modal-content">

        </div>
    </div>
</div>
<div id="removeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="Remove" class="modal-content">

        </div>
    </div>
</div>

@if (_checkedRadioStarred != null)
{
    <script>
        var checkedRadioStarred = '@_checkedRadioStarred.Id'
        setTimeout(function () {
            document.getElementById('StarredPlan_' + checkedRadioStarred).checked = true;
        }, 200);

    </script>
}

@if (_checkedRadioHighest != null)
{
    <script>
        var checkedRadioHighest = '@_checkedRadioHighest.Id'
        setTimeout(function () {
            document.getElementById('HighestPlan_' + checkedRadioHighest).checked = true;
        }, 200);

    </script>
}




@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/modularity/OfferedOrder.js")"></script>

    @Html.Partial("_Semaphore")

    <script>
        $(document).ready(function () {
            var ventana_alto = $(window).innerHeight();
            ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
            var table = $('#gridTable').DataTable({
                "columnDefs": [
                { "width": "20%", "targets": 0 }
                ],
                "scrollY": ventana_alto,
                "scrollX": true,
                "info": false,
                "paging": false,
                "ordering": false,
                "filter": false
            });

            $('#TH').resize(function () {

                table.columns.adjust();
            })


            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });

        function checkForm(event) {
            $(".selector").each(function (i, e) {
                if (e.value == "") {
                    event.preventDefault();
                    //alert("All the dropdowns must have a selected option");
                    toastMessage.show('Please select a record', 'alert-warning');
                    return false;
                }
            });
        }
    </script>
}