@model SOMSight.Models.Assessments.AssessmentTypeVM
@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared
@{
    ViewBag.Title = "Admin Assessment Basic Recommendations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/assessment/assessmentRecommendationsAdmin.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/translator/translatorGeneric.js")"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />


<label id="GridListCallBack" class="hidden">@Url.Action("GridListCallBack")</label>
<label id="NS_UrlTranslation" class="hidden">@Url.Action("Index", "AdminTranslator")</label>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","AdminHome")">Home</a></li>
    <li><a href="@Url.Action("Index","AdminAssessmentType")">AssessmentType</a></li>
    <li class="active">Assessment Basic Recommendation</li>
</ol>

<label id="TextIdenfitiferAction" class="hidden">@Url.Action("TextIdentifierCharge")</label>
<label id="idAssessmentType" class="hidden">@Model.Id</label>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Options <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @*<span>
                        <a href="@Url.Action("Filter")" id="filterTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-glass"></i> Filter</a>
                    </span>*@
                @*<span>
                    <a href="#" id="refreshTable" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                </span>*@

                <span>
                    <a href="@Url.Action("AddAssessmentRecommendation")" id="addAssessmentRecommendation" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Create
                    </a>
                </span>
                <span>
                    <a href="@Url.Action("Edit")" id="editRecordAssessmentRecommendation" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                </span>
                
                <span>
                    <a href="@Url.Action("DeleteAssessmentRecommendation")" id="deleteAssessmentRecommendationConfirm" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                        Remove
                    </a>
                </span>
                    

            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <label class="control-label">Assessment Type </label> - @Model.TranslatorAdministratorTI
</div>

<div id="grid-div">
</div>

<div id="createModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="CreateAssessmentRecommendation" class="modal-content">

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div id="EditAssessmentRecommendation" class="modal-content">

        </div>
    </div>
</div>

<div id="removeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="RemoveAssessmentRecommendation" class="modal-content">

        </div>
    </div>
</div>

<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="messageAssessmentModal" class="modal-content">

        </div>
    </div>
</div>


<div id="searchTextIdentifierModal" class="modal fade createTranslationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="TextIdentifierModal" class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Search Text Identifier</h4>
            </div>

            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Add", "AdminTranslator")" id="addTranslator" class="btn btn-sm btn-default">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Create New
                            </a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtTextIdentifier" class="form-control searchBox" name="name" placeholder="Text Identifier" value="" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtDefaultText" class="form-control searchBox" name="name" placeholder="Default Text" value="" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtDescripcion" class="form-control searchBox" name="name" placeholder="Description" value="" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <table id="griTextIdentifier" class="hover table-bordered stripe" cellspacing="0" width="100%">
                                <thead class="cell-border" id="TH">
                                    <tr class="table-header">
                                        <th class="text-center text-uppercase">
                                            <label>Text Identifier</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Default Text</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Description</label>
                                        </th>
                                        <th class="text-center text-uppercase">
                                            <label>Classification</label>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" id="btnclose" class="btn btn-default modalTclose">Cancel</button>
                    <input type="button" value="Add" id="btnSave" name="cmd" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createTranslationModal" class="modal fade createTranslationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="CreateTranslator" class="modal-content">

        </div>
    </div>
</div>
