@model SOMSight.Models.DigitalTransformationVM

<div class="modal formulary add_to_current_digitaltrans">

@using (Ajax.BeginForm("CreateEdit", "DigitalTransformation", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace
                                                                                                ,
    UpdateTargetId = "CreateDigitalTransformationContent"
                                                                                                ,
    OnBegin = "OnDigitalTransformationCreationBegin"
                                                                                                ,
    OnSuccess = "OnDigitalTransformationCreationSuccess"

}, new { @id = "CreateDigitalTransformationForm" }))
{
    <!--<p id="close_modal"></p>-->
    <h1>Add to Current Process: @Model.ProcessName</h1>

    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ProcessId" value="@Model.ProcessId" />
    @Html.HiddenFor(x => x.UserCreation)
    @Html.HiddenFor(x => x.DateCreation)

    <div class="contiene">
        <div class="row">
            <label>Select priority</label>
            @Html.DropDownListFor(x => x.Priority, new List<SelectListItem> {
                                    new SelectListItem() { Text="1", Value="1"} ,
                                    new SelectListItem() { Text = "2", Value = "2" },
                                    new SelectListItem() { Text="3", Value="3"} ,
                                    new SelectListItem() { Text="4", Value="4"} ,
                                    new SelectListItem() { Text="5", Value="5"} })
        </div>
        <div class="row">
            <label>Pillar</label>
            @Html.TextBoxFor(x => x.Pillar)
            <p class="required">
                @Html.ValidationMessageFor(x => x.Pillar)
            </p>
        </div>
        <div class="row">
            <label>Technology</label>
            @Html.TextBoxFor(x => x.Technology)
            
            <p class="required">
                @Html.ValidationMessageFor(x => x.Technology)
            </p>
        </div>
        <div class="row">
            <label>
                @Html.CheckBoxFor(x => x.Exist)
                Exist
            </label>

        </div>
        <div class="row">
            <label>Brand</label>
            @Html.TextBoxFor(x => x.Brand)

            <p class="required">
                @Html.ValidationMessageFor(x => x.Brand)
            </p>
        </div>
        <div class="row">
            <label>Comment</label>
            @Html.TextAreaFor(x => x.Comment)
            <p class="required">
                @Html.ValidationMessageFor(x => x.Comment)
            </p>
        </div>
        <div class="row">
            <label>
                @Html.CheckBoxFor(x => x.Solved)
                Solved
            </label>

        </div>
        <div class="row">
            <label>Solution</label>
            @Html.TextAreaFor(x => x.Solution)
            <p class="required">
                @Html.ValidationMessageFor(x => x.Solution)
            </p>
        </div>
        <div class="row last">
            <a href="#" target="_self" class="button gris cerrar f_left">CANCEL</a>
            <input type="submit" value="OK" class="button rojo f_right" />
        </div>
    </div>
}
    
</div>
